In [110]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

#read csv
data = pd.read_csv('pekerti.csv')
data.head()

,No,NIM,OOP,RPB,RPL,PI,APSI,WEB,Statistik,Matdis,...,SE,PO,SCM,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,KSI
0,881,1202160002,4.0,3.5,0.0,4.0,3.5,4.0,3.5,3.5,...,4.0,3.5,3.5,4.0,3.5,3.5,4.0,3.5,3.5,0
1,882,1202160009,4.0,3.5,0.0,3.5,3.5,3.5,3.5,3.5,...,3.5,3.5,4.0,3.5,3.5,3.0,3.5,4.0,3.5,0
2,883,1202160010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,884,1202160011,4.0,4.0,0.0,3.5,3.5,4.0,3.0,4.0,...,3.5,3.0,3.5,3.5,4.0,3.5,3.5,3.5,2.5,0
4,885,1202160013,3.5,3.0,0.0,3.5,2.0,2.0,2.5,4.0,...,3.5,2.5,2.5,3.5,3.5,2.5,2.0,1.0,4.0,0

In [111]:
def clustering_peminatan(syarat1, syarat2, syarat3, syarat4) :
    data_selection = data[[syarat1,syarat2,syarat3,syarat4]]
    
    cluster = KMeans(n_clusters=2).fit(data_selection)
    cluster.labels_
    cluster_label = cluster.predict(data_selection)
    
    NewData = pd.DataFrame()
    NewData['NIM'] = data['NIM']
    NewData['Label'] = cluster_label
    return NewData

In [228]:
#techno
techno = clustering_peminatan('OOP','RPB','RPL','PI')
techno.head()

          NIM  Label
0  1202160002      1
1  1202160009      1
2  1202160010      0
3  1202160011      1
4  1202160013      1

In [229]:
techno.to_csv('techno.csv')

In [231]:
#ead
ead = clustering_peminatan('OOP','APSI','RPB','WEB')
ead.head()

          NIM  Label
0  1202160002      1
1  1202160009      1
2  1202160010      0
3  1202160011      1
4  1202160013      1

In [233]:
ead.to_csv('ead.csv')

In [234]:
#edm
edm = clustering_peminatan('Statistik', 'Matdis', 'Alpro', 'Strukdat')
edm.head()

          NIM  Label
0  1202160002      1
1  1202160009      1
2  1202160010      0
3  1202160011      1
4  1202160013      1

In [235]:
edm.to_csv('edm.csv')

In [236]:
#erp
erp = clustering_peminatan('SE','RPB','PO','SCM')
erp.head()

          NIM  Label
0  1202160002      1
1  1202160009      1
2  1202160010      0
3  1202160011      1
4  1202160013      1

In [237]:
erp.to_csv('erp.csv')

In [238]:
#ea
ea = clustering_peminatan('RPB','APSI','EA','Basdat')
ea.head()

          NIM  Label
0  1202160002      1
1  1202160009      1
2  1202160010      0
3  1202160011      1
4  1202160013      1

In [239]:
ea.to_csv('ea.csv')

In [113]:
#eim
eim = clustering_peminatan('Desjar','Manjarkom','Sisop','KSI')
eim.head()

          NIM  Label
0  1202160002      1
1  1202160009      1
2  1202160010      0
3  1202160011      1
4  1202160013      1

In [114]:
eim.to_csv('eim.csv')

In [116]:
ism = clustering_peminatan('SE','Manjarkom','Sisop','MSDM')
ism.head()

          NIM  Label
0  1202160002      1
1  1202160009      1
2  1202160010      0
3  1202160011      1
4  1202160013      1

In [118]:
ism.to_csv('ism.csv')

In [120]:
def filter_csv(name) :
    temp = pd.read_csv(name)
    temp = temp.drop('NIM', 1)
    temp = temp.drop('Unnamed: 0', 1)
    return temp

techno = filter_csv("techno.csv")
ea = filter_csv("peminatan_csv/ea.csv")
ead = filter_csv("peminatan_csv/ead.csv")
edm = filter_csv("peminatan_csv/edm.csv")
erp = filter_csv("peminatan_csv/erp.csv")
ism = filter_csv("peminatan_csv/ism.csv")
eim = filter_csv("peminatan_csv/eim.csv")

In [121]:
matriks = pd.DataFrame(data.NIM)
matriks['Technopreneur'] = techno.Label
matriks['EAD'] = ead.Label
matriks['ERP'] = erp.Label
matriks['EDM'] = edm.Label
matriks['EA'] = ea.Label
matriks['ISM'] = ism.Label
matriks['EIM'] = eim.Label
matriks.head()

          NIM  Technopreneur  EAD  ERP  EDM  EA  ISM  EIM
0  1202160002              1    1    1    1   1    1    1
1  1202160009              1    1    1    1   1    1    1
2  1202160010              0    0    0    0   0    0    0
3  1202160011              1    1    1    1   1    1    1
4  1202160013              1    1    1    1   1    1    1

In [122]:
matriks = matriks.iloc[:403]
matriks.head()

          NIM  Technopreneur  EAD  ERP  EDM  EA  ISM  EIM
0  1202160002              1    1    1    1   1    1    1
1  1202160009              1    1    1    1   1    1    1
2  1202160010              0    0    0    0   0    0    0
3  1202160011              1    1    1    1   1    1    1
4  1202160013              1    1    1    1   1    1    1

In [123]:
peminatan = pd.read_csv('2016 data v5.csv')
peminatan.head()

,No,NIM,OOP,RPB,RPL,PI,APSI,WEB,Statistik,Matdis,...,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,KSI,Pilihan 1,Pilihan 2,Peminatan
0,1,1202160002,4.0,3.5,0.0,4.0,3.5,4.0,3.5,3.5,...,4.0,3.5,3.5,4.0,3.5,3.5,0.0,ERP,EDM,ERP
1,2,1202160009,4.0,3.5,0.0,3.5,3.5,3.5,3.5,3.5,...,3.5,3.5,3.0,3.5,4.0,3.5,0.0,ERP,EDM,ERP
2,3,1202160010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0,NaN
3,4,1202160011,4.0,4.0,0.0,3.5,3.5,4.0,3.0,4.0,...,3.5,4.0,3.5,3.5,3.5,2.5,0.0,ERP,EDM,ERP
4,5,1202160013,3.5,3.0,0.0,3.5,2.0,2.0,2.5,4.0,...,3.5,3.5,2.5,2.0,1.0,4.0,0.0,EA,EDM,EDM

In [124]:
peminatan_selection = peminatan['Peminatan']
matriks['Peminatan'] = peminatan_selection
matriks.head()

          NIM  Technopreneur  EAD  ERP  EDM  EA  ISM  EIM Peminatan
0  1202160002              1    1    1    1   1    1    1       ERP
1  1202160009              1    1    1    1   1    1    1       ERP
2  1202160010              0    0    0    0   0    0    0       NaN
3  1202160011              1    1    1    1   1    1    1       ERP
4  1202160013              1    1    1    1   1    1    1       EDM

In [137]:
isCocok = [0] * len(matriks)
for index, row in matriks.iterrows():
    if row['Peminatan'] == 'TECHNO':
        if row['Technopreneur'] == 1 :
            isCocok[index] = "Cocok"
        else :
            isCocok[index] = "Tidak Cocok"
    elif row['Peminatan'] == 'EAD':
        if row['EAD'] == 1 :
            isCocok[index] = "Cocok"
        else :
            isCocok[index] = "Tidak Cocok"
    elif row['Peminatan'] == 'EDM':
        if row['EDM'] == 1 :
            isCocok[index] = "Cocok"
        else :
            isCocok[index] = "Tidak Cocok"
    elif row['Peminatan'] == 'ERP':
        if row['ERP'] == 1 :
            isCocok[index] = "Cocok"
        else :
            isCocok[index] = "Tidak Cocok"
    elif row['Peminatan'] == 'EAA' or row['Peminatan'] == 'EA':
        if row['EA'] == 1 :
            isCocok[index] = "Cocok"
        else :
            isCocok[index] = "Tidak Cocok"
    elif row['Peminatan'] == 'ISM':
        if row['ISM'] == 1 :
            isCocok[index] = "Cocok"
        else :
            isCocok[index] = "Tidak Cocok"
    elif row['Peminatan'] == 'EIM':
        if row['EIM'] == 1 :
            isCocok[index] = "Cocok"
        else :
            isCocok[index] = "Tidak Cocok"
    else :
        isCocok[index] = "Tidak Memilih"

In [138]:
matriks['Keterangan'] = isCocok
matriks.iloc

,NIM,Technopreneur,EAD,ERP,EDM,EA,ISM,EIM,Peminatan,Keterangan
0,1202160002,1,1,1,1,1,1,1,ERP,Cocok
1,1202160009,1,1,1,1,1,1,1,ERP,Cocok
2,1202160010,0,0,0,0,0,0,0,NaN,Tidak Memilih
3,1202160011,1,1,1,1,1,1,1,ERP,Cocok
4,1202160013,1,1,1,1,1,1,1,EDM,Cocok
5,1202160015,1,1,1,1,1,1,0,ISM,Cocok
6,1202160019,1,1,0,0,1,0,1,EAD,Cocok
7,1202160020,0,0,0,0,0,0,0,NaN,Tidak Memilih
8,1202160023,1,1,1,1,1,1,0,EAD,Cocok
9,1202160024,1,1,1,1,1,1,1,ISM,Cocok
10,1202160028,1,1,1,1,1,1,1,EA,Cocok
11,1202160030,1,1,1,1,1,1,1,EAD,Cocok
12,1202160034,1,1,1,1,1,1,1,EAD,Cocok
13,1202160036,0,0,0,0,0,0,0,NaN,Tidak Memilih
14,1202160041,1,1,1,1,1,1,1,EDM,Cocok
15,1202160043,1,1,1,1,1,1,1,EDM,Cocok
16,1202160044,1,1,1,1,1,1,1,EDM,Cocok
17,1202160045,1,1,1,1,1,1,1,EIM,Cocok
18,1202160046,1,1,1,1,1,1,1,EDM,Cocok
19,1202160047,1,1,1,1,1,1,1,EAA,Cocok
20,1202160048,1,1,1,1,1,1,1,EAA,Cocok
21,1202160050,1,1,1,1,1,1,1,ERP,Cocok
22,1202160051,1,1,1,1,1,1,1,EAA,Cocok
23,1202160052,1,1,1,1,1,1,1,TECHNO,Cocok
24,1202160053,0,0,0,0,0,0,0,NaN,Tidak Memilih
25,1202160054,1,1,1,1,1,1,1,EAA,Cocok
26,1202160055,1,1,1,1,1,1,1,EDM,Cocok
27,1202160057,1,1,1,1,1,1,1,ERP,Cocok
28,1202160059,1,1,1,1,1,1,1,EIM,Cocok
29,1202160061,1,1,1,1,1,1,1,ERP,Cocok
...,...,...,...,...,...,...,...,...,...,...
373,1202164335,1,1,1,0,1,1,1,EAA,Cocok
374,1202164344,0,1,0,0,0,1,1,NaN,Tidak Memilih
375,1202164345,1,1,0,0,1,1,1,EIM,Cocok
376,1202164346,0,0,0,0,0,0,1,NaN,Tidak Memilih
377,1202164348,1,1,0,0,1,1,1,EIM,Cocok
378,1202164349,1,1,1,0,1,1,1,EIM,Cocok
379,1202164350,1,1,1,0,1,1,1,ISM,Cocok
380,1202164351,1,1,1,0,1,1,0,ERP,Cocok
381,1202164359,1,1,1,0,1,1,1,EAA,Cocok
382,1202164361,0,0,0,0,0,0,0,NaN,Tidak Memilih
383,1202164363,1,1,1,0,1,1,1,ERP,Cocok
384,1202164364,1,1,1,0,1,1,1,EDM,Tidak Cocok
385,1202164366,1,1,1,0,1,1,1,ISM,Cocok
386,1202164367,1,1,1,0,1,1,0,ISM,Cocok
387,1202164368,1,1,1,0,1,1,1,ISM,Cocok
388,1202164371,1,1,1,0,1,1,1,ERP,Cocok
389,1202164373,1,1,1,0,1,1,1,EDM,Tidak Cocok
390,1202164374,1,1,1,0,1,1,1,ERP,Cocok
391,1202164377,0,0,0,0,0,0,0,ISM,Tidak Cocok
392,1202164379,0,0,0,0,0,0,0,NaN,Tidak Memilih
393,1202164387,1,1,1,0,1,1,1,EDM,Tidak Cocok
394,1202164388,0,0,0,0,0,0,0,NaN,Tidak Memilih
395,1202164390,1,1,1,0,1,1,1,ERP,Cocok
396,1202164391,1,1,1,0,1,1,1,EIM,Cocok
397,1202164392,1,1,1,0,1,1,1,EDM,Tidak Cocok
398,1202164393,1,1,0,0,0,0,0,NaN,Tidak Memilih
399,1202164394,0,0,0,0,0,0,0,NaN,Tidak Memilih
400,1202164395,1,1,1,0,1,1,1,EIM,Cocok
401,1202164397,1,1,1,0,1,1,1,ERP,Cocok
402,1202164399,1,1,1,0,1,1,1,ISM,Cocok