In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

#read csv
data = pd.read_csv('pekerti.csv')
data.head()

,No,NIM,OOP,RPB,RPL,PI,APSI,WEB,Statistik,Matdis,...,SE,PO,SCM,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,KSI
0,881,1202160002,4.0,3.5,0.0,4.0,3.5,4.0,3.5,3.5,...,4.0,3.5,3.5,4.0,3.5,3.5,4.0,3.5,3.5,0
1,882,1202160009,4.0,3.5,0.0,3.5,3.5,3.5,3.5,3.5,...,3.5,3.5,4.0,3.5,3.5,3.0,3.5,4.0,3.5,0
2,883,1202160010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,884,1202160011,4.0,4.0,0.0,3.5,3.5,4.0,3.0,4.0,...,3.5,3.0,3.5,3.5,4.0,3.5,3.5,3.5,2.5,0
4,885,1202160013,3.5,3.0,0.0,3.5,2.0,2.0,2.5,4.0,...,3.5,2.5,2.5,3.5,3.5,2.5,2.0,1.0,4.0,0

In [218]:
def clustering_peminatan(syarat1, syarat2, syarat3, syarat4) :
    data_selection = data[[syarat1,syarat2,syarat3,syarat4]]
    
    cluster = KMeans(n_clusters=2).fit(data_selection)
    cluster.labels_
    cluster_label = cluster.predict(data_selection)
    
    NewData = pd.DataFrame()
    NewData['NIM'] = data['NIM']
    NewData['Label'] = cluster_label
    return NewData

In [228]:
#techno
techno = clustering_peminatan('OOP','RPB','RPL','PI')
techno.head()

          NIM  Label
0  1202160002      1
1  1202160009      1
2  1202160010      0
3  1202160011      1
4  1202160013      1

In [229]:
techno.to_csv('techno.csv')

In [231]:
#ead
ead = clustering_peminatan('OOP','APSI','RPB','WEB')
ead.head()

          NIM  Label
0  1202160002      1
1  1202160009      1
2  1202160010      0
3  1202160011      1
4  1202160013      1

In [233]:
ead.to_csv('ead.csv')

In [234]:
#edm
edm = clustering_peminatan('Statistik', 'Matdis', 'Alpro', 'Strukdat')
edm.head()

          NIM  Label
0  1202160002      1
1  1202160009      1
2  1202160010      0
3  1202160011      1
4  1202160013      1

In [235]:
edm.to_csv('edm.csv')

In [236]:
#erp
erp = clustering_peminatan('SE','RPB','PO','SCM')
erp.head()

          NIM  Label
0  1202160002      1
1  1202160009      1
2  1202160010      0
3  1202160011      1
4  1202160013      1

In [237]:
erp.to_csv('erp.csv')

In [238]:
#ea
ea = clustering_peminatan('RPB','APSI','EA','Basdat')
ea.head()

          NIM  Label
0  1202160002      1
1  1202160009      1
2  1202160010      0
3  1202160011      1
4  1202160013      1

In [239]:
ea.to_csv('ea.csv')

In [240]:
#ism
ism = clustering_peminatan('Desjar','Manjarkom','Sisop','KSI')
ism.head()

          NIM  Label
0  1202160002      1
1  1202160009      1
2  1202160010      0
3  1202160011      1
4  1202160013      1

In [241]:
ism.to_csv('ism.csv')

In [4]:
def filter_csv(name) :
    temp = pd.read_csv(name)
    temp = temp.drop('NIM', 1)
    temp = temp.drop('Unnamed: 0', 1)
    return temp

techno = filter_csv("techno.csv")
ea = filter_csv("ea.csv")
ead = filter_csv("ead.csv")
edm = filter_csv("edm.csv")
erp = filter_csv("erp.csv")
ism = filter_csv("ism.csv")

In [5]:
matriks = pd.DataFrame(data.NIM)
matriks['Technopreneur'] = techno.Label
matriks['EAD'] = ead.Label
matriks['ERP'] = erp.Label
matriks['EDM'] = edm.Label
matriks['EA'] = ea.Label
matriks['ISM'] = ism.Label
matriks

            NIM  Technopreneur  EAD  ERP  EDM  EA  ISM
0    1202160002              1    1    1    1   1    1
1    1202160009              1    1    1    1   1    1
2    1202160010              0    0    0    0   0    0
3    1202160011              1    1    1    1   1    1
4    1202160013              1    1    1    1   1    1
5    1202160015              1    1    1    1   1    0
6    1202160019              1    1    0    0   1    1
7    1202160020              0    0    0    0   0    0
8    1202160023              1    1    1    1   1    0
9    1202160024              1    1    1    1   1    1
10   1202160028              1    1    1    1   1    1
11   1202160030              1    1    1    1   1    1
12   1202160034              1    1    1    1   1    1
13   1202160036              0    0    0    0   0    0
14   1202160041              1    1    1    1   1    1
15   1202160043              1    1    1    1   1    1
16   1202160044              1    1    1    1   1    1
17   1202160045              1    1    1    1   1    1
18   1202160046              1    1    1    1   1    1
19   1202160047              1    1    1    1   1    1
20   1202160048              1    1    1    1   1    1
21   1202160050              1    1    1    1   1    1
22   1202160051              1    1    1    1   1    1
23   1202160052              1    1    1    1   1    1
24   1202160053              0    0    0    0   0    0
25   1202160054              1    1    1    1   1    1
26   1202160055              1    1    1    1   1    1
27   1202160057              1    1    1    1   1    1
28   1202160059              1    1    1    1   1    1
29   1202160061              1    1    1    1   1    1
..          ...            ...  ...  ...  ...  ..  ...
773  1202174313              0    0    0    0   0    0
774  1202174318              0    0    0    0   0    0
775  1202174320              0    0    0    0   0    0
776  1202174321              0    0    0    0   0    0
777  1202174322              0    0    0    0   0    0
778  1202174324              0    0    0    0   0    0
779  1202174325              0    0    0    0   0    0
780  1202174326              0    0    0    0   0    0
781  1202174335              0    0    0    0   0    0
782  1202174340              0    0    0    0   0    0
783  1202174342              0    0    0    0   0    0
784  1202174345              0    0    0    0   0    0
785  1202174347              0    0    0    0   0    0
786  1202174351              0    0    0    0   0    0
787  1202174352              0    0    0    0   0    0
788  1202174354              0    0    0    0   0    0
789  1202174355              0    0    0    0   0    0
790  1202174359              0    0    0    0   0    0
791  1202174363              0    0    0    0   0    0
792  1202174368              0    0    0    0   0    0
793  1202174372              0    0    0    0   0    0
794  1202174374              0    0    0    0   0    0
795  1202174375              0    0    0    0   0    0
796  1202174376              0    0    0    0   0    0
797  1202174378              0    0    0    0   0    0
798  1202174380              0    0    0    0   0    0
799  1202174387              0    0    0    0   0    0
800  1202174388              0    0    0    0   0    0
801  1202174390              0    0    0    0   0    0
802  1202174399              0    0    0    0   0    0

[803 rows x 7 columns]