In [181]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential, Model
from keras.layers import Input, Dense
from keras.utils import to_categorical 

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

df = pd.read_csv('2016-forecast-cnn.csv')
df = df.drop(['Unnamed: 0','No','NIM'],axis=1)
df.head()

,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,Strukdat,SE,PO,SCM,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Lulus Tepat Waktu
0,4.0,3.5,4.0,3.5,4.0,3.5,3.5,3.5,3.5,4.0,3.5,3.5,4.0,3.5,3.5,4.0,3.5,3.5,3.5,1
1,4.0,3.5,3.5,3.5,3.5,3.5,3.5,4.0,3.5,3.5,3.5,4.0,3.5,3.5,3.0,3.5,4.0,3.5,3.5,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0
3,4.0,4.0,3.5,3.5,4.0,3.0,4.0,3.5,3.0,3.5,3.0,3.5,3.5,4.0,3.5,3.5,3.5,2.5,3.5,1
4,3.5,3.0,3.5,2.0,2.0,2.5,4.0,3.5,2.0,3.5,2.5,2.5,3.5,3.5,2.5,2.0,1.0,4.0,4.0,1

In [182]:
df2 = pd.read_csv('2016 data v5.csv')
df2.head()

,No,NIM,OOP,RPB,RPL,PI,APSI,WEB,Statistik,Matdis,...,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,KSI,Pilihan 1,Pilihan 2,Peminatan
0,1,1202160002,4.0,3.5,0.0,4.0,3.5,4.0,3.5,3.5,...,4.0,3.5,3.5,4.0,3.5,3.5,0.0,ERP,EDM,ERP
1,2,1202160009,4.0,3.5,0.0,3.5,3.5,3.5,3.5,3.5,...,3.5,3.5,3.0,3.5,4.0,3.5,0.0,ERP,EDM,ERP
2,3,1202160010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0,NaN
3,4,1202160011,4.0,4.0,0.0,3.5,3.5,4.0,3.0,4.0,...,3.5,4.0,3.5,3.5,3.5,2.5,0.0,ERP,EDM,ERP
4,5,1202160013,3.5,3.0,0.0,3.5,2.0,2.0,2.5,4.0,...,3.5,3.5,2.5,2.0,1.0,4.0,0.0,EA,EDM,EDM

In [183]:
df['Pilihan 1'] = df2['Pilihan 1']
df['Pilihan 2'] = df2['Pilihan 2']
df['Peminatan'] = df2['Peminatan']
df.head()

,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,Strukdat,SE,...,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Lulus Tepat Waktu,Pilihan 1,Pilihan 2,Peminatan
0,4.0,3.5,4.0,3.5,4.0,3.5,3.5,3.5,3.5,4.0,...,3.5,3.5,4.0,3.5,3.5,3.5,1,ERP,EDM,ERP
1,4.0,3.5,3.5,3.5,3.5,3.5,3.5,4.0,3.5,3.5,...,3.5,3.0,3.5,4.0,3.5,3.5,1,ERP,EDM,ERP
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.5,0,NaN,0,NaN
3,4.0,4.0,3.5,3.5,4.0,3.0,4.0,3.5,3.0,3.5,...,4.0,3.5,3.5,3.5,2.5,3.5,1,ERP,EDM,ERP
4,3.5,3.0,3.5,2.0,2.0,2.5,4.0,3.5,2.0,3.5,...,3.5,2.5,2.0,1.0,4.0,4.0,1,EA,EDM,EDM

In [184]:
new_class = [0] * len(df['Peminatan'])
for index, row in df.iterrows() :
    if row["Peminatan"] == "TECHNO" :
        new_class[index] = 1
    elif row['Peminatan'] == "EAD" :
        new_class[index] = 2
    elif row['Peminatan'] == "EDM" :
        new_class[index] = 3
    elif row['Peminatan'] == "ERP" :
        new_class[index] = 4
    elif row['Peminatan'] == "EA" :
        new_class[index] = 5
    elif row['Peminatan'] == "EIM" :
        new_class[index] = 6
    elif row['Peminatan'] == "ISM" :
        new_class[index] = 7
    else :
        new_class[index] = 0
df["Peminatan"] = new_class
df.head()

,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,Strukdat,SE,...,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Lulus Tepat Waktu,Pilihan 1,Pilihan 2,Peminatan
0,4.0,3.5,4.0,3.5,4.0,3.5,3.5,3.5,3.5,4.0,...,3.5,3.5,4.0,3.5,3.5,3.5,1,ERP,EDM,4
1,4.0,3.5,3.5,3.5,3.5,3.5,3.5,4.0,3.5,3.5,...,3.5,3.0,3.5,4.0,3.5,3.5,1,ERP,EDM,4
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.5,0,NaN,0,0
3,4.0,4.0,3.5,3.5,4.0,3.0,4.0,3.5,3.0,3.5,...,4.0,3.5,3.5,3.5,2.5,3.5,1,ERP,EDM,4
4,3.5,3.0,3.5,2.0,2.0,2.5,4.0,3.5,2.0,3.5,...,3.5,2.5,2.0,1.0,4.0,4.0,1,EA,EDM,3

In [185]:
new_class = [0] * len(df['Pilihan 1'])
for index, row in df.iterrows() :
    if row["Pilihan 1"] == "TECHNO" :
        new_class[index] = 1
    elif row['Pilihan 1'] == "EAD" :
        new_class[index] = 2
    elif row['Pilihan 1'] == "EDM" :
        new_class[index] = 3
    elif row['Pilihan 1'] == "ERP" :
        new_class[index] = 4
    elif row['Pilihan 1'] == "EA" :
        new_class[index] = 5
    elif row['Pilihan 1'] == "EIM" :
        new_class[index] = 6
    elif row['Pilihan 1'] == "ISM" :
        new_class[index] = 7
    else :
        new_class[index] = 0
df["Pilihan 1"] = new_class
df.head()

,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,Strukdat,SE,...,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Lulus Tepat Waktu,Pilihan 1,Pilihan 2,Peminatan
0,4.0,3.5,4.0,3.5,4.0,3.5,3.5,3.5,3.5,4.0,...,3.5,3.5,4.0,3.5,3.5,3.5,1,4,EDM,4
1,4.0,3.5,3.5,3.5,3.5,3.5,3.5,4.0,3.5,3.5,...,3.5,3.0,3.5,4.0,3.5,3.5,1,4,EDM,4
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.5,0,0,0,0
3,4.0,4.0,3.5,3.5,4.0,3.0,4.0,3.5,3.0,3.5,...,4.0,3.5,3.5,3.5,2.5,3.5,1,4,EDM,4
4,3.5,3.0,3.5,2.0,2.0,2.5,4.0,3.5,2.0,3.5,...,3.5,2.5,2.0,1.0,4.0,4.0,1,5,EDM,3

In [186]:
new_class = [0] * len(df['Pilihan 2'])
for index, row in df.iterrows() :
    if row["Pilihan 2"] == "TECHNO" :
        new_class[index] = 1
    elif row['Pilihan 2'] == "EAD" :
        new_class[index] = 2
    elif row['Pilihan 2'] == "EDM" :
        new_class[index] = 3
    elif row['Pilihan 2'] == "ERP" :
        new_class[index] = 4
    elif row['Pilihan 2'] == "EA" :
        new_class[index] = 5
    elif row['Pilihan 2'] == "EIM" :
        new_class[index] = 6
    elif row['Pilihan 2'] == "ISM" :
        new_class[index] = 7
    else :
        new_class[index] = 0
df["Pilihan 2"] = new_class
df.head()

,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,Strukdat,SE,...,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Lulus Tepat Waktu,Pilihan 1,Pilihan 2,Peminatan
0,4.0,3.5,4.0,3.5,4.0,3.5,3.5,3.5,3.5,4.0,...,3.5,3.5,4.0,3.5,3.5,3.5,1,4,3,4
1,4.0,3.5,3.5,3.5,3.5,3.5,3.5,4.0,3.5,3.5,...,3.5,3.0,3.5,4.0,3.5,3.5,1,4,3,4
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.5,0,0,0,0
3,4.0,4.0,3.5,3.5,4.0,3.0,4.0,3.5,3.0,3.5,...,4.0,3.5,3.5,3.5,2.5,3.5,1,4,3,4
4,3.5,3.0,3.5,2.0,2.0,2.5,4.0,3.5,2.0,3.5,...,3.5,2.5,2.0,1.0,4.0,4.0,1,5,3,3

In [187]:
mainData = df[df.Peminatan != 0]
mainData = mainData.drop(['Lulus Tepat Waktu'],axis=1)
target = ["Peminatan"]
predictors = list(set(list(mainData.columns))-set(target))
mainData[predictors] = mainData[predictors]/mainData[predictors].max()
mainData[predictors].head()

,SCM,Pilihan 1,Desjar,Alpro,EA,OOP,Matdis,WEB,Manprosi,Basdat,...,PO,PI,Sisop,Statistik,Manjarkom,APSI,Pilihan 2,MSDM,RPB,Strukdat
0,0.875,0.571429,0.875,0.875,1.000,1.000,0.875,1.000,0.875,0.875,...,0.875,1.000,1.000,0.875,0.875,0.875,0.428571,0.875,0.875,0.875
1,1.000,0.571429,0.875,1.000,0.875,1.000,0.875,0.875,0.875,0.875,...,0.875,0.875,0.875,0.875,0.750,0.875,0.428571,1.000,0.875,0.875
3,0.875,0.571429,0.625,0.875,0.875,1.000,1.000,1.000,0.875,1.000,...,0.750,0.875,0.875,0.750,0.875,0.875,0.428571,0.875,1.000,0.750
4,0.625,0.714286,1.000,0.875,0.875,0.875,1.000,0.500,1.000,0.875,...,0.625,0.875,0.500,0.625,0.625,0.500,0.428571,0.250,0.750,0.500
5,0.875,1.000000,0.625,0.875,0.875,0.250,1.000,0.750,0.625,0.625,...,0.625,0.875,0.500,0.500,0.250,0.875,0.428571,0.875,0.250,0.750

In [188]:
X = mainData[target]
y = mainData[predictors]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.40, random_state=40)
print(X_train.shape)
print(y_train.shape)
print(X_test.head())
print(y_test.shape)

(184, 1)
(184, 21)
     Peminatan
304          7
384          3
319          7
289          3
245          3
(123, 21)

In [191]:
X_trains = to_categorical(X_train)
X_tests = to_categorical(X_test)

print(X_trains.shape)

(184, 8)

In [192]:
model = Sequential()
model.add(Dense(128, activation='relu', input_dim=21))
model.add(Dense(64, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(8, activation='softmax'))

# Compile the model
model.compile(optimizer='adam', 
              loss='categorical_crossentropy', 
              metrics=['accuracy'])

In [193]:
model.fit(y_train, X_trains, epochs=200)

Epoch 1/200
184/184 [==============================] - 0s 461us/step - loss: 2.1024 - accuracy: 0.0707
Epoch 2/200
184/184 [==============================] - 0s 43us/step - loss: 2.0037 - accuracy: 0.1848
Epoch 3/200
184/184 [==============================] - 0s 49us/step - loss: 1.9440 - accuracy: 0.1848
Epoch 4/200
184/184 [==============================] - 0s 60us/step - loss: 1.8868 - accuracy: 0.1848
Epoch 5/200
184/184 [==============================] - 0s 60us/step - loss: 1.8283 - accuracy: 0.1957
Epoch 6/200
184/184 [==============================] - 0s 70us/step - loss: 1.7856 - accuracy: 0.2337
Epoch 7/200
184/184 [==============================] - 0s 54us/step - loss: 1.7334 - accuracy: 0.3533
Epoch 8/200
184/184 [==============================] - 0s 54us/step - loss: 1.6956 - accuracy: 0.3370
Epoch 9/200
184/184 [==============================] - 0s 70us/step - loss: 1.6542 - accuracy: 0.3641
Epoch 10/200
184/184 [==============================] - 0s 60us/step - loss: 1.6143 - accuracy: 0.3967
Epoch 11/200
184/184 [==============================] - 0s 60us/step - loss: 1.5707 - accuracy: 0.4565
Epoch 12/200
184/184 [==============================] - 0s 54us/step - loss: 1.5185 - accuracy: 0.4728
Epoch 13/200
184/184 [==============================] - 0s 60us/step - loss: 1.4705 - accuracy: 0.5272
Epoch 14/200
184/184 [==============================] - 0s 81us/step - loss: 1.4135 - accuracy: 0.5761
Epoch 15/200
184/184 [==============================] - 0s 60us/step - loss: 1.3597 - accuracy: 0.5598
Epoch 16/200
184/184 [==============================] - 0s 76us/step - loss: 1.3055 - accuracy: 0.5978
Epoch 17/200
184/184 [==============================] - 0s 54us/step - loss: 1.2582 - accuracy: 0.6359
Epoch 18/200
184/184 [==============================] - 0s 49us/step - loss: 1.2127 - accuracy: 0.6250
Epoch 19/200
184/184 [==============================] - 0s 54us/step - loss: 1.1751 - accuracy: 0.6033
Epoch 20/200
184/184 [==============================] - 0s 81us/step - loss: 1.1305 - accuracy: 0.6467
Epoch 21/200
184/184 [==============================] - 0s 76us/step - loss: 1.1010 - accuracy: 0.6413
Epoch 22/200
184/184 [==============================] - 0s 60us/step - loss: 1.0672 - accuracy: 0.6250
Epoch 23/200
184/184 [==============================] - 0s 49us/step - loss: 1.0426 - accuracy: 0.6739
Epoch 24/200
184/184 [==============================] - 0s 65us/step - loss: 1.0403 - accuracy: 0.6413
Epoch 25/200
184/184 [==============================] - 0s 54us/step - loss: 1.0293 - accuracy: 0.6087
Epoch 26/200
184/184 [==============================] - 0s 70us/step - loss: 0.9528 - accuracy: 0.7120
Epoch 27/200
184/184 [==============================] - 0s 54us/step - loss: 0.9627 - accuracy: 0.6739
Epoch 28/200
184/184 [==============================] - 0s 49us/step - loss: 0.9528 - accuracy: 0.6902
Epoch 29/200
184/184 [==============================] - 0s 49us/step - loss: 0.9083 - accuracy: 0.6957
Epoch 30/200
184/184 [==============================] - 0s 70us/step - loss: 0.8980 - accuracy: 0.7065
Epoch 31/200
184/184 [==============================] - 0s 54us/step - loss: 0.8772 - accuracy: 0.7609
Epoch 32/200
184/184 [==============================] - 0s 70us/step - loss: 0.8692 - accuracy: 0.7065
Epoch 33/200
184/184 [==============================] - 0s 49us/step - loss: 0.8476 - accuracy: 0.7011
Epoch 34/200
184/184 [==============================] - 0s 60us/step - loss: 0.8342 - accuracy: 0.7011
Epoch 35/200
184/184 [==============================] - 0s 49us/step - loss: 0.8294 - accuracy: 0.7174
Epoch 36/200
184/184 [==============================] - 0s 43us/step - loss: 0.8107 - accuracy: 0.7446
Epoch 37/200
184/184 [==============================] - 0s 43us/step - loss: 0.7939 - accuracy: 0.7609
Epoch 38/200
184/184 [==============================] - 0s 43us/step - loss: 0.7640 - accuracy: 0.7935
Epoch 39/200
184/184 [==============================] - 0s 43us/step - loss: 0.7598 - accuracy: 0.7772
Epoch 40/200
184/184 [==============================] - 0s 43us/step - loss: 0.7293 - accuracy: 0.7880
Epoch 41/200
184/184 [==============================] - 0s 43us/step - loss: 0.7166 - accuracy: 0.7880
Epoch 42/200
184/184 [==============================] - 0s 49us/step - loss: 0.6962 - accuracy: 0.7717
Epoch 43/200
184/184 [==============================] - 0s 54us/step - loss: 0.6869 - accuracy: 0.7935
Epoch 44/200
184/184 [==============================] - 0s 49us/step - loss: 0.6701 - accuracy: 0.8261
Epoch 45/200
184/184 [==============================] - 0s 76us/step - loss: 0.6588 - accuracy: 0.8098
Epoch 46/200
184/184 [==============================] - 0s 70us/step - loss: 0.6436 - accuracy: 0.8152
Epoch 47/200
184/184 [==============================] - 0s 76us/step - loss: 0.6306 - accuracy: 0.8207
Epoch 48/200
184/184 [==============================] - 0s 60us/step - loss: 0.6239 - accuracy: 0.8098
Epoch 49/200
184/184 [==============================] - 0s 60us/step - loss: 0.6062 - accuracy: 0.8261
Epoch 50/200
184/184 [==============================] - 0s 81us/step - loss: 0.5887 - accuracy: 0.8424
Epoch 51/200
184/184 [==============================] - 0s 49us/step - loss: 0.5820 - accuracy: 0.8370
Epoch 52/200
184/184 [==============================] - 0s 54us/step - loss: 0.5857 - accuracy: 0.8315
Epoch 53/200
184/184 [==============================] - 0s 43us/step - loss: 0.5722 - accuracy: 0.8207
Epoch 54/200
184/184 [==============================] - 0s 60us/step - loss: 0.5634 - accuracy: 0.8533
Epoch 55/200
184/184 [==============================] - 0s 49us/step - loss: 0.5473 - accuracy: 0.8370
Epoch 56/200
184/184 [==============================] - 0s 54us/step - loss: 0.5456 - accuracy: 0.8533
Epoch 57/200
184/184 [==============================] - 0s 54us/step - loss: 0.5543 - accuracy: 0.8424
Epoch 58/200
184/184 [==============================] - 0s 60us/step - loss: 0.5440 - accuracy: 0.8098
Epoch 59/200
184/184 [==============================] - 0s 54us/step - loss: 0.4867 - accuracy: 0.8587
Epoch 60/200
184/184 [==============================] - 0s 65us/step - loss: 0.4776 - accuracy: 0.8641
Epoch 61/200
184/184 [==============================] - 0s 49us/step - loss: 0.4589 - accuracy: 0.9076
Epoch 62/200
184/184 [==============================] - 0s 43us/step - loss: 0.4587 - accuracy: 0.8859
Epoch 63/200
184/184 [==============================] - 0s 43us/step - loss: 0.4564 - accuracy: 0.8696
Epoch 64/200
184/184 [==============================] - 0s 43us/step - loss: 0.4401 - accuracy: 0.8913
Epoch 65/200
184/184 [==============================] - 0s 43us/step - loss: 0.4219 - accuracy: 0.8913
Epoch 66/200
184/184 [==============================] - 0s 43us/step - loss: 0.4225 - accuracy: 0.8967
Epoch 67/200
184/184 [==============================] - 0s 38us/step - loss: 0.4051 - accuracy: 0.9130
Epoch 68/200
184/184 [==============================] - 0s 43us/step - loss: 0.4032 - accuracy: 0.9022
Epoch 69/200
184/184 [==============================] - 0s 43us/step - loss: 0.3826 - accuracy: 0.9239
Epoch 70/200
184/184 [==============================] - 0s 43us/step - loss: 0.4011 - accuracy: 0.9130
Epoch 71/200
184/184 [==============================] - 0s 43us/step - loss: 0.3618 - accuracy: 0.9185
Epoch 72/200
184/184 [==============================] - 0s 38us/step - loss: 0.3639 - accuracy: 0.9130
Epoch 73/200
184/184 [==============================] - 0s 49us/step - loss: 0.3686 - accuracy: 0.9130
Epoch 74/200
184/184 [==============================] - 0s 54us/step - loss: 0.3471 - accuracy: 0.9130
Epoch 75/200
184/184 [==============================] - 0s 60us/step - loss: 0.3379 - accuracy: 0.9457
Epoch 76/200
184/184 [==============================] - 0s 38us/step - loss: 0.3429 - accuracy: 0.8967
Epoch 77/200
184/184 [==============================] - 0s 43us/step - loss: 0.3356 - accuracy: 0.9348
Epoch 78/200
184/184 [==============================] - 0s 38us/step - loss: 0.3204 - accuracy: 0.9565
Epoch 79/200
184/184 [==============================] - 0s 43us/step - loss: 0.3104 - accuracy: 0.9185
Epoch 80/200
184/184 [==============================] - 0s 38us/step - loss: 0.3052 - accuracy: 0.9130
Epoch 81/200
184/184 [==============================] - 0s 70us/step - loss: 0.3062 - accuracy: 0.9293
Epoch 82/200
184/184 [==============================] - 0s 60us/step - loss: 0.3144 - accuracy: 0.9185
Epoch 83/200
184/184 [==============================] - 0s 54us/step - loss: 0.3120 - accuracy: 0.9022
Epoch 84/200
184/184 [==============================] - 0s 60us/step - loss: 0.3123 - accuracy: 0.9022
Epoch 85/200
184/184 [==============================] - 0s 70us/step - loss: 0.3047 - accuracy: 0.9293
Epoch 86/200
184/184 [==============================] - 0s 60us/step - loss: 0.2823 - accuracy: 0.9348
Epoch 87/200
184/184 [==============================] - 0s 81us/step - loss: 0.2765 - accuracy: 0.9293
Epoch 88/200
184/184 [==============================] - 0s 54us/step - loss: 0.2659 - accuracy: 0.9348
Epoch 89/200
184/184 [==============================] - 0s 49us/step - loss: 0.2610 - accuracy: 0.9402
Epoch 90/200
184/184 [==============================] - 0s 54us/step - loss: 0.2575 - accuracy: 0.9239
Epoch 91/200
184/184 [==============================] - 0s 54us/step - loss: 0.2452 - accuracy: 0.9511
Epoch 92/200
184/184 [==============================] - 0s 49us/step - loss: 0.2352 - accuracy: 0.9457
Epoch 93/200
184/184 [==============================] - 0s 60us/step - loss: 0.2389 - accuracy: 0.9402
Epoch 94/200
184/184 [==============================] - 0s 54us/step - loss: 0.2381 - accuracy: 0.9565
Epoch 95/200
184/184 [==============================] - 0s 60us/step - loss: 0.2327 - accuracy: 0.9457
Epoch 96/200
184/184 [==============================] - 0s 49us/step - loss: 0.2197 - accuracy: 0.9457
Epoch 97/200
184/184 [==============================] - 0s 49us/step - loss: 0.2218 - accuracy: 0.9511
Epoch 98/200
184/184 [==============================] - 0s 65us/step - loss: 0.2166 - accuracy: 0.9402
Epoch 99/200
184/184 [==============================] - 0s 49us/step - loss: 0.2256 - accuracy: 0.9511
Epoch 100/200
184/184 [==============================] - 0s 54us/step - loss: 0.2331 - accuracy: 0.9511
Epoch 101/200
184/184 [==============================] - 0s 49us/step - loss: 0.2099 - accuracy: 0.9402
Epoch 102/200
184/184 [==============================] - 0s 49us/step - loss: 0.2062 - accuracy: 0.9402
Epoch 103/200
184/184 [==============================] - 0s 38us/step - loss: 0.2120 - accuracy: 0.9457
Epoch 104/200
184/184 [==============================] - 0s 49us/step - loss: 0.2146 - accuracy: 0.9402
Epoch 105/200
184/184 [==============================] - 0s 43us/step - loss: 0.1879 - accuracy: 0.9565
Epoch 106/200
184/184 [==============================] - 0s 43us/step - loss: 0.1864 - accuracy: 0.9565
Epoch 107/200
184/184 [==============================] - 0s 54us/step - loss: 0.1807 - accuracy: 0.9565
Epoch 108/200
184/184 [==============================] - 0s 38us/step - loss: 0.1817 - accuracy: 0.9620
Epoch 109/200
184/184 [==============================] - 0s 43us/step - loss: 0.1694 - accuracy: 0.9728
Epoch 110/200
184/184 [==============================] - 0s 43us/step - loss: 0.1739 - accuracy: 0.9565
Epoch 111/200
184/184 [==============================] - 0s 43us/step - loss: 0.1857 - accuracy: 0.9620
Epoch 112/200
184/184 [==============================] - 0s 38us/step - loss: 0.1776 - accuracy: 0.9620
Epoch 113/200
184/184 [==============================] - 0s 43us/step - loss: 0.1741 - accuracy: 0.9674
Epoch 114/200
184/184 [==============================] - 0s 43us/step - loss: 0.1508 - accuracy: 0.9674
Epoch 115/200
184/184 [==============================] - 0s 43us/step - loss: 0.1579 - accuracy: 0.9674
Epoch 116/200
184/184 [==============================] - 0s 43us/step - loss: 0.1575 - accuracy: 0.9674
Epoch 117/200
184/184 [==============================] - 0s 60us/step - loss: 0.1518 - accuracy: 0.9620
Epoch 118/200
184/184 [==============================] - 0s 43us/step - loss: 0.1552 - accuracy: 0.9728
Epoch 119/200
184/184 [==============================] - ETA: 0s - loss: 0.1249 - accuracy: 1.00 - 0s 43us/step - loss: 0.1466 - accuracy: 0.9674
Epoch 120/200
184/184 [==============================] - 0s 38us/step - loss: 0.1449 - accuracy: 0.9728
Epoch 121/200
184/184 [==============================] - 0s 43us/step - loss: 0.1441 - accuracy: 0.9728
Epoch 122/200
184/184 [==============================] - 0s 43us/step - loss: 0.1321 - accuracy: 0.9728
Epoch 123/200
184/184 [==============================] - 0s 43us/step - loss: 0.1418 - accuracy: 0.9674
Epoch 124/200
184/184 [==============================] - 0s 43us/step - loss: 0.1318 - accuracy: 0.9728
Epoch 125/200
184/184 [==============================] - 0s 49us/step - loss: 0.1284 - accuracy: 0.9728
Epoch 126/200
184/184 [==============================] - 0s 54us/step - loss: 0.1266 - accuracy: 0.9783
Epoch 127/200
184/184 [==============================] - 0s 54us/step - loss: 0.1345 - accuracy: 0.9728
Epoch 128/200
184/184 [==============================] - 0s 54us/step - loss: 0.1261 - accuracy: 0.9674
Epoch 129/200
184/184 [==============================] - 0s 60us/step - loss: 0.1240 - accuracy: 0.9620
Epoch 130/200
184/184 [==============================] - 0s 60us/step - loss: 0.1209 - accuracy: 0.9728
Epoch 131/200
184/184 [==============================] - 0s 71us/step - loss: 0.1161 - accuracy: 0.9728
Epoch 132/200
184/184 [==============================] - 0s 54us/step - loss: 0.1168 - accuracy: 0.9837
Epoch 133/200
184/184 [==============================] - 0s 54us/step - loss: 0.1189 - accuracy: 0.9783
Epoch 134/200
184/184 [==============================] - 0s 65us/step - loss: 0.1069 - accuracy: 0.9783
Epoch 135/200
184/184 [==============================] - 0s 60us/step - loss: 0.1096 - accuracy: 0.9674
Epoch 136/200
184/184 [==============================] - 0s 60us/step - loss: 0.1073 - accuracy: 0.9728
Epoch 137/200
184/184 [==============================] - 0s 49us/step - loss: 0.1018 - accuracy: 0.9783
Epoch 138/200
184/184 [==============================] - 0s 54us/step - loss: 0.1004 - accuracy: 0.9837
Epoch 139/200
184/184 [==============================] - 0s 65us/step - loss: 0.0989 - accuracy: 0.9837
Epoch 140/200
184/184 [==============================] - 0s 60us/step - loss: 0.1017 - accuracy: 0.9783
Epoch 141/200
184/184 [==============================] - 0s 81us/step - loss: 0.0929 - accuracy: 0.9837
Epoch 142/200
184/184 [==============================] - 0s 92us/step - loss: 0.0922 - accuracy: 0.9783
Epoch 143/200
184/184 [==============================] - 0s 76us/step - loss: 0.0903 - accuracy: 0.9783
Epoch 144/200
184/184 [==============================] - 0s 60us/step - loss: 0.0923 - accuracy: 0.9891
Epoch 145/200
184/184 [==============================] - 0s 60us/step - loss: 0.0897 - accuracy: 0.9837
Epoch 146/200
184/184 [==============================] - 0s 60us/step - loss: 0.0833 - accuracy: 0.9837
Epoch 147/200
184/184 [==============================] - 0s 54us/step - loss: 0.0909 - accuracy: 0.9837
Epoch 148/200
184/184 [==============================] - 0s 65us/step - loss: 0.0861 - accuracy: 0.9837
Epoch 149/200
184/184 [==============================] - 0s 65us/step - loss: 0.0827 - accuracy: 0.9891
Epoch 150/200
184/184 [==============================] - 0s 76us/step - loss: 0.0791 - accuracy: 0.9946
Epoch 151/200
184/184 [==============================] - 0s 38us/step - loss: 0.0801 - accuracy: 0.9837
Epoch 152/200
184/184 [==============================] - 0s 54us/step - loss: 0.0773 - accuracy: 0.9891
Epoch 153/200
184/184 [==============================] - 0s 65us/step - loss: 0.0769 - accuracy: 0.9837
Epoch 154/200
184/184 [==============================] - 0s 70us/step - loss: 0.0784 - accuracy: 0.9837
Epoch 155/200
184/184 [==============================] - 0s 49us/step - loss: 0.0854 - accuracy: 0.9783
Epoch 156/200
184/184 [==============================] - 0s 54us/step - loss: 0.0896 - accuracy: 0.9837
Epoch 157/200
184/184 [==============================] - 0s 60us/step - loss: 0.0746 - accuracy: 0.9837
Epoch 158/200
184/184 [==============================] - 0s 87us/step - loss: 0.0757 - accuracy: 0.9837
Epoch 159/200
184/184 [==============================] - 0s 54us/step - loss: 0.0694 - accuracy: 0.9946
Epoch 160/200
184/184 [==============================] - 0s 60us/step - loss: 0.0709 - accuracy: 0.9946
Epoch 161/200
184/184 [==============================] - 0s 70us/step - loss: 0.0721 - accuracy: 0.9891
Epoch 162/200
184/184 [==============================] - 0s 60us/step - loss: 0.0732 - accuracy: 0.9891
Epoch 163/200
184/184 [==============================] - 0s 43us/step - loss: 0.0627 - accuracy: 0.9946
Epoch 164/200
184/184 [==============================] - 0s 76us/step - loss: 0.0687 - accuracy: 0.9946
Epoch 165/200
184/184 [==============================] - 0s 54us/step - loss: 0.0622 - accuracy: 0.9891
Epoch 166/200
184/184 [==============================] - 0s 49us/step - loss: 0.0599 - accuracy: 0.9946
Epoch 167/200
184/184 [==============================] - 0s 43us/step - loss: 0.0571 - accuracy: 0.9946
Epoch 168/200
184/184 [==============================] - 0s 70us/step - loss: 0.0583 - accuracy: 0.9891
Epoch 169/200
184/184 [==============================] - 0s 65us/step - loss: 0.0567 - accuracy: 0.9946
Epoch 170/200
184/184 [==============================] - 0s 65us/step - loss: 0.0581 - accuracy: 0.9946
Epoch 171/200
184/184 [==============================] - 0s 70us/step - loss: 0.0584 - accuracy: 0.9946
Epoch 172/200
184/184 [==============================] - 0s 81us/step - loss: 0.0539 - accuracy: 0.9946
Epoch 173/200
184/184 [==============================] - 0s 43us/step - loss: 0.0516 - accuracy: 0.9946
Epoch 174/200
184/184 [==============================] - 0s 43us/step - loss: 0.0539 - accuracy: 0.9946
Epoch 175/200
184/184 [==============================] - 0s 43us/step - loss: 0.0521 - accuracy: 0.9946
Epoch 176/200
184/184 [==============================] - 0s 60us/step - loss: 0.0509 - accuracy: 1.0000
Epoch 177/200
184/184 [==============================] - 0s 43us/step - loss: 0.0536 - accuracy: 0.9946
Epoch 178/200
184/184 [==============================] - 0s 60us/step - loss: 0.0582 - accuracy: 0.9891
Epoch 179/200
184/184 [==============================] - 0s 65us/step - loss: 0.0477 - accuracy: 1.0000
Epoch 180/200
184/184 [==============================] - 0s 49us/step - loss: 0.0487 - accuracy: 0.9946
Epoch 181/200
184/184 [==============================] - 0s 43us/step - loss: 0.0503 - accuracy: 1.0000
Epoch 182/200
184/184 [==============================] - 0s 49us/step - loss: 0.0471 - accuracy: 0.9946
Epoch 183/200
184/184 [==============================] - 0s 60us/step - loss: 0.0454 - accuracy: 0.9946
Epoch 184/200
184/184 [==============================] - 0s 43us/step - loss: 0.0454 - accuracy: 0.9946
Epoch 185/200
184/184 [==============================] - 0s 54us/step - loss: 0.0426 - accuracy: 0.9946
Epoch 186/200
184/184 [==============================] - 0s 76us/step - loss: 0.0440 - accuracy: 1.0000
Epoch 187/200
184/184 [==============================] - 0s 65us/step - loss: 0.0413 - accuracy: 1.0000
Epoch 188/200
184/184 [==============================] - 0s 54us/step - loss: 0.0413 - accuracy: 0.9946
Epoch 189/200
184/184 [==============================] - 0s 60us/step - loss: 0.0402 - accuracy: 0.9946
Epoch 190/200
184/184 [==============================] - 0s 54us/step - loss: 0.0393 - accuracy: 0.9946
Epoch 191/200
184/184 [==============================] - 0s 54us/step - loss: 0.0397 - accuracy: 1.0000
Epoch 192/200
184/184 [==============================] - 0s 54us/step - loss: 0.0406 - accuracy: 0.9946
Epoch 193/200

In [194]:
pred_train= model.predict(y_train)
scores = model.evaluate(y_train, X_trains, verbose=0)
print('Accuracy on training data: {}% \n Error on training data: {}'.format(scores[1], 1 - scores[1]))   
 
pred_test= model.predict(y_test)
scores2 = model.evaluate(y_test, X_tests, verbose=0)
print('Accuracy on test data: {}% \n Error on test data: {}'.format(scores2[1], 1 - scores2[1]))

Accuracy on training data: 1.0%
 Error on training data: 0.0
Accuracy on test data: 0.8943089246749878%
 Error on test data: 0.10569107532501221

In [195]:
dataTesting = pd.read_csv('data_nilai_mahasiswa.csv')
dataTesting.head()

,id,nim,nama,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,...,skor_peminatan_1,id_peminatan_2,skor_peminatan_2,peminatan,status,prioritas,skor_buang,status_lulus,created_at.1,updated_at.1
0,456,1202170258,PUTU DELA APSARI MERTADEWI,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,19.0,3,16.0,4,10,0,0.0,NaN,2020-01-01 18:58:20,2020-03-13 14:16:04
1,603,1202174065,MUHAMMAD FIKRI AZHAR,3.5,3.0,3.5,3.5,3.5,2.0,3.0,...,13.0,6,12.5,2,10,0,0.0,NaN,2020-01-01 19:00:11,2020-03-13 14:16:04
2,677,1202174208,YUNI ARIYANI ARIFIN,3.5,3.0,3.5,4.0,3.5,3.0,2.5,...,13.0,3,14.0,3,9,0,0.0,NaN,2020-01-01 19:05:00,2020-03-13 14:16:04
3,741,1202174372,IDELLIA MUTHIA NURBAISA,4.0,3.5,4.0,4.0,4.0,4.0,3.5,...,16.5,6,14.5,2,10,0,0.0,NaN,2020-01-01 19:11:34,2020-03-13 14:16:04
4,430,1202170180,IBRAM MOSZARDO,2.5,3.5,3.0,2.0,3.5,3.0,2.0,...,12.5,7,12.0,3,10,0,0.0,NaN,2020-01-01 19:11:53,2020-03-13 14:16:04

In [196]:
dataTesting.rename(columns={'id_peminatan_1':'Pilihan 1','id_peminatan_2':'Pilihan 2'}, inplace=True)
newDataTesting = dataTesting.drop(columns={
    "id",
    "skor_peminatan_1",
    "skor_peminatan_2",
    "status","prioritas",
    "skor_buang",
    'created_at.1',
    'updated_at.1',
    'created_at',
    'updated_at',
    'id.1',
    'id_users',
    'status_lulus',
    'peminatan'
},axis=1)
newDataTesting.head()

,nim,nama,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,...,SCM,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Pilihan 1,Pilihan 2
0,1202170258,PUTU DELA APSARI MERTADEWI,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,4.0,4.0,4.0,4.0,3.5,4.0,3.0,3.5,4,3
1,1202174065,MUHAMMAD FIKRI AZHAR,3.5,3.0,3.5,3.5,3.5,2.0,3.0,3.5,...,3.5,3.5,3.0,2.0,4.0,3.0,2.0,3.5,2,6
2,1202174208,YUNI ARIYANI ARIFIN,3.5,3.0,3.5,4.0,3.5,3.0,2.5,4.0,...,0.0,3.5,3.5,2.0,3.0,3.5,3.0,3.5,6,3
3,1202174372,IDELLIA MUTHIA NURBAISA,4.0,3.5,4.0,4.0,4.0,4.0,3.5,4.0,...,4.0,3.5,3.5,3.0,4.0,3.5,3.0,4.0,2,6
4,1202170180,IBRAM MOSZARDO,2.5,3.5,3.0,2.0,3.5,3.0,2.0,3.5,...,2.0,3.5,3.5,3.0,3.5,4.0,3.0,2.5,3,7

In [197]:
dataTestingPredictor = newDataTesting[predictors]
dataTestingHasil = model.predict_classes(dataTestingPredictor)

newDataTesting["Peminatan"] = dataTestingHasil
newDataTesting.rename(columns={'nim':'NIM'}, inplace=True)
newDataTesting.drop(columns="nama",axis=1).head()

,NIM,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,Strukdat,...,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Pilihan 1,Pilihan 2,Peminatan
0,1202170258,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,4.0,4.0,4.0,3.5,4.0,3.0,3.5,4,3,7
1,1202174065,3.5,3.0,3.5,3.5,3.5,2.0,3.0,3.5,3.5,...,3.5,3.0,2.0,4.0,3.0,2.0,3.5,2,6,3
2,1202174208,3.5,3.0,3.5,4.0,3.5,3.0,2.5,4.0,3.5,...,3.5,3.5,2.0,3.0,3.5,3.0,3.5,6,3,7
3,1202174372,4.0,3.5,4.0,4.0,4.0,4.0,3.5,4.0,4.0,...,3.5,3.5,3.0,4.0,3.5,3.0,4.0,2,6,3
4,1202170180,2.5,3.5,3.0,2.0,3.5,3.0,2.0,3.5,3.5,...,3.5,3.5,3.0,3.5,4.0,3.0,2.5,3,7,7

In [198]:
newDataTesting.to_csv('2017-forecast-peminatan-cnn.csv')

In [199]:
#forecast lulus tepat waktu

In [200]:
df = pd.read_csv('2016-forecast-cnn.csv')
df = df.drop(['Unnamed: 0','No','NIM'],axis=1)
df.head()

,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,Strukdat,SE,PO,SCM,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Lulus Tepat Waktu
0,4.0,3.5,4.0,3.5,4.0,3.5,3.5,3.5,3.5,4.0,3.5,3.5,4.0,3.5,3.5,4.0,3.5,3.5,3.5,1
1,4.0,3.5,3.5,3.5,3.5,3.5,3.5,4.0,3.5,3.5,3.5,4.0,3.5,3.5,3.0,3.5,4.0,3.5,3.5,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0
3,4.0,4.0,3.5,3.5,4.0,3.0,4.0,3.5,3.0,3.5,3.0,3.5,3.5,4.0,3.5,3.5,3.5,2.5,3.5,1
4,3.5,3.0,3.5,2.0,2.0,2.5,4.0,3.5,2.0,3.5,2.5,2.5,3.5,3.5,2.5,2.0,1.0,4.0,4.0,1

In [201]:
df2 = pd.read_csv('2016 data v5.csv')
df['Peminatan'] = df2['Peminatan']
new_class = [0] * len(df['Peminatan'])
for index, row in df.iterrows() :
    if row["Peminatan"] == "TECHNO" :
        new_class[index] = 1
    elif row['Peminatan'] == "EAD" :
        new_class[index] = 2
    elif row['Peminatan'] == "EDM" :
        new_class[index] = 3
    elif row['Peminatan'] == "ERP" :
        new_class[index] = 4
    elif row['Peminatan'] == "EA" :
        new_class[index] = 5
    elif row['Peminatan'] == "EIM" :
        new_class[index] = 6
    elif row['Peminatan'] == "ISM" :
        new_class[index] = 7
    else :
        new_class[index] = 0
df["Peminatan"] = new_class
df.head()

,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,Strukdat,SE,...,SCM,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Lulus Tepat Waktu,Peminatan
0,4.0,3.5,4.0,3.5,4.0,3.5,3.5,3.5,3.5,4.0,...,3.5,4.0,3.5,3.5,4.0,3.5,3.5,3.5,1,4
1,4.0,3.5,3.5,3.5,3.5,3.5,3.5,4.0,3.5,3.5,...,4.0,3.5,3.5,3.0,3.5,4.0,3.5,3.5,1,4
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0,0
3,4.0,4.0,3.5,3.5,4.0,3.0,4.0,3.5,3.0,3.5,...,3.5,3.5,4.0,3.5,3.5,3.5,2.5,3.5,1,4
4,3.5,3.0,3.5,2.0,2.0,2.5,4.0,3.5,2.0,3.5,...,2.5,3.5,3.5,2.5,2.0,1.0,4.0,4.0,1,3

In [202]:
mainData = df[df.Peminatan != 0]
target = ["Lulus Tepat Waktu"]
predictors = list(set(list(mainData.columns))-set(target))
mainData[predictors] = mainData[predictors]/mainData[predictors].max()
mainData[predictors].head()

,SCM,Desjar,Alpro,EA,OOP,Matdis,Peminatan,WEB,Manprosi,Basdat,SE,PO,PI,Sisop,Statistik,Manjarkom,APSI,MSDM,RPB,Strukdat
0,0.875,0.875,0.875,1.000,1.000,0.875,0.571429,1.000,0.875,0.875,1.000,0.875,1.000,1.000,0.875,0.875,0.875,0.875,0.875,0.875
1,1.000,0.875,1.000,0.875,1.000,0.875,0.571429,0.875,0.875,0.875,0.875,0.875,0.875,0.875,0.875,0.750,0.875,1.000,0.875,0.875
3,0.875,0.625,0.875,0.875,1.000,1.000,0.571429,1.000,0.875,1.000,0.875,0.750,0.875,0.875,0.750,0.875,0.875,0.875,1.000,0.750
4,0.625,1.000,0.875,0.875,0.875,1.000,0.428571,0.500,1.000,0.875,0.875,0.625,0.875,0.500,0.625,0.625,0.500,0.250,0.750,0.500
5,0.875,0.625,0.875,0.875,0.250,1.000,1.000000,0.750,0.625,0.625,0.750,0.625,0.875,0.500,0.500,0.250,0.875,0.875,0.250,0.750

In [203]:
X = mainData[target]
y = mainData[predictors]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.40, random_state=40)

X_trains = to_categorical(X_train)
X_tests = to_categorical(X_test)

print(X_trains.shape)

(184, 2)

In [204]:
model = Sequential()
model.add(Dense(128, activation='relu', input_dim=20))
model.add(Dense(64, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(2, activation='softmax'))

# Compile the model
model.compile(optimizer='adam', 
              loss='categorical_crossentropy', 
              metrics=['accuracy'])

In [205]:
model.fit(y_train, X_trains, epochs=200)

Epoch 1/200
184/184 [==============================] - 0s 477us/step - loss: 0.5616 - accuracy: 0.7554
Epoch 2/200
184/184 [==============================] - 0s 43us/step - loss: 0.5009 - accuracy: 0.7554
Epoch 3/200
184/184 [==============================] - 0s 70us/step - loss: 0.4728 - accuracy: 0.7554
Epoch 4/200
184/184 [==============================] - 0s 65us/step - loss: 0.4649 - accuracy: 0.7609
Epoch 5/200
184/184 [==============================] - 0s 60us/step - loss: 0.4258 - accuracy: 0.7772
Epoch 6/200
184/184 [==============================] - 0s 54us/step - loss: 0.4111 - accuracy: 0.7609
Epoch 7/200
184/184 [==============================] - 0s 70us/step - loss: 0.3921 - accuracy: 0.8315
Epoch 8/200
184/184 [==============================] - 0s 65us/step - loss: 0.3543 - accuracy: 0.8207
Epoch 9/200
184/184 [==============================] - 0s 54us/step - loss: 0.3302 - accuracy: 0.8478
Epoch 10/200
184/184 [==============================] - 0s 49us/step - loss: 0.2931 - accuracy: 0.8967
Epoch 11/200
184/184 [==============================] - 0s 49us/step - loss: 0.2572 - accuracy: 0.8967
Epoch 12/200
184/184 [==============================] - 0s 54us/step - loss: 0.2297 - accuracy: 0.9076
Epoch 13/200
184/184 [==============================] - 0s 49us/step - loss: 0.2058 - accuracy: 0.9130
Epoch 14/200
184/184 [==============================] - 0s 54us/step - loss: 0.1840 - accuracy: 0.9130
Epoch 15/200
184/184 [==============================] - 0s 49us/step - loss: 0.1593 - accuracy: 0.9402
Epoch 16/200
184/184 [==============================] - 0s 38us/step - loss: 0.1426 - accuracy: 0.9511
Epoch 17/200
184/184 [==============================] - 0s 49us/step - loss: 0.1235 - accuracy: 0.9674
Epoch 18/200
184/184 [==============================] - 0s 60us/step - loss: 0.1102 - accuracy: 0.9728
Epoch 19/200
184/184 [==============================] - 0s 49us/step - loss: 0.0992 - accuracy: 0.9620
Epoch 20/200
184/184 [==============================] - 0s 54us/step - loss: 0.0944 - accuracy: 0.9891
Epoch 21/200
184/184 [==============================] - 0s 60us/step - loss: 0.0824 - accuracy: 0.9837
Epoch 22/200
184/184 [==============================] - 0s 49us/step - loss: 0.0808 - accuracy: 0.9783
Epoch 23/200
184/184 [==============================] - 0s 43us/step - loss: 0.0679 - accuracy: 0.9891
Epoch 24/200
184/184 [==============================] - 0s 49us/step - loss: 0.0730 - accuracy: 0.9837
Epoch 25/200
184/184 [==============================] - 0s 54us/step - loss: 0.0611 - accuracy: 0.9891
Epoch 26/200
184/184 [==============================] - 0s 49us/step - loss: 0.0571 - accuracy: 0.9946
Epoch 27/200
184/184 [==============================] - 0s 49us/step - loss: 0.0553 - accuracy: 0.9946
Epoch 28/200
184/184 [==============================] - 0s 43us/step - loss: 0.0497 - accuracy: 0.9946
Epoch 29/200
184/184 [==============================] - 0s 43us/step - loss: 0.0416 - accuracy: 0.9891
Epoch 30/200
184/184 [==============================] - 0s 43us/step - loss: 0.0372 - accuracy: 0.9946
Epoch 31/200
184/184 [==============================] - 0s 49us/step - loss: 0.0351 - accuracy: 0.9946
Epoch 32/200
184/184 [==============================] - 0s 43us/step - loss: 0.0324 - accuracy: 0.9946
Epoch 33/200
184/184 [==============================] - 0s 43us/step - loss: 0.0390 - accuracy: 0.9946
Epoch 34/200
184/184 [==============================] - 0s 38us/step - loss: 0.0324 - accuracy: 1.0000
Epoch 35/200
184/184 [==============================] - 0s 43us/step - loss: 0.0555 - accuracy: 0.9783
Epoch 36/200
184/184 [==============================] - 0s 49us/step - loss: 0.0435 - accuracy: 0.9837
Epoch 37/200
184/184 [==============================] - 0s 54us/step - loss: 0.0439 - accuracy: 0.9946
Epoch 38/200
184/184 [==============================] - 0s 43us/step - loss: 0.0368 - accuracy: 0.9946
Epoch 39/200
184/184 [==============================] - 0s 43us/step - loss: 0.0290 - accuracy: 1.0000
Epoch 40/200
184/184 [==============================] - 0s 43us/step - loss: 0.0497 - accuracy: 0.9891
Epoch 41/200
184/184 [==============================] - 0s 43us/step - loss: 0.0346 - accuracy: 0.9946
Epoch 42/200
184/184 [==============================] - 0s 43us/step - loss: 0.0264 - accuracy: 0.9946
Epoch 43/200
184/184 [==============================] - 0s 43us/step - loss: 0.0312 - accuracy: 0.9946
Epoch 44/200
184/184 [==============================] - 0s 43us/step - loss: 0.0316 - accuracy: 0.9891
Epoch 45/200
184/184 [==============================] - 0s 43us/step - loss: 0.0356 - accuracy: 0.9837
Epoch 46/200
184/184 [==============================] - 0s 38us/step - loss: 0.0116 - accuracy: 1.0000
Epoch 47/200
184/184 [==============================] - 0s 49us/step - loss: 0.0224 - accuracy: 0.9946
Epoch 48/200
184/184 [==============================] - 0s 43us/step - loss: 0.0296 - accuracy: 0.9946
Epoch 49/200
184/184 [==============================] - 0s 54us/step - loss: 0.0154 - accuracy: 0.9946
Epoch 50/200
184/184 [==============================] - 0s 54us/step - loss: 0.0124 - accuracy: 1.0000
Epoch 51/200
184/184 [==============================] - 0s 43us/step - loss: 0.0123 - accuracy: 1.0000
Epoch 52/200
184/184 [==============================] - 0s 38us/step - loss: 0.0127 - accuracy: 1.0000
Epoch 53/200
184/184 [==============================] - 0s 43us/step - loss: 0.0105 - accuracy: 1.0000
Epoch 54/200
184/184 [==============================] - 0s 43us/step - loss: 0.0103 - accuracy: 1.0000
Epoch 55/200
184/184 [==============================] - 0s 38us/step - loss: 0.0093 - accuracy: 1.0000
Epoch 56/200
184/184 [==============================] - 0s 38us/step - loss: 0.0096 - accuracy: 1.0000
Epoch 57/200
184/184 [==============================] - 0s 43us/step - loss: 0.0100 - accuracy: 1.0000
Epoch 58/200
184/184 [==============================] - 0s 38us/step - loss: 0.0099 - accuracy: 1.0000
Epoch 59/200
184/184 [==============================] - 0s 43us/step - loss: 0.0067 - accuracy: 1.0000
Epoch 60/200
184/184 [==============================] - 0s 54us/step - loss: 0.0084 - accuracy: 1.0000
Epoch 61/200
184/184 [==============================] - 0s 49us/step - loss: 0.0069 - accuracy: 1.0000
Epoch 62/200
184/184 [==============================] - 0s 43us/step - loss: 0.0066 - accuracy: 1.0000
Epoch 63/200
184/184 [==============================] - ETA: 0s - loss: 0.0057 - accuracy: 1.00 - 0s 43us/step - loss: 0.0067 - accuracy: 1.0000
Epoch 64/200
184/184 [==============================] - 0s 43us/step - loss: 0.0060 - accuracy: 1.0000
Epoch 65/200
184/184 [==============================] - 0s 43us/step - loss: 0.0059 - accuracy: 1.0000
Epoch 66/200
184/184 [==============================] - 0s 49us/step - loss: 0.0059 - accuracy: 1.0000
Epoch 67/200
184/184 [==============================] - 0s 49us/step - loss: 0.0055 - accuracy: 1.0000
Epoch 68/200
184/184 [==============================] - 0s 54us/step - loss: 0.0052 - accuracy: 1.0000
Epoch 69/200
184/184 [==============================] - 0s 54us/step - loss: 0.0051 - accuracy: 1.0000
Epoch 70/200
184/184 [==============================] - 0s 65us/step - loss: 0.0047 - accuracy: 1.0000
Epoch 71/200
184/184 [==============================] - 0s 54us/step - loss: 0.0055 - accuracy: 1.0000
Epoch 72/200
184/184 [==============================] - 0s 54us/step - loss: 0.0044 - accuracy: 1.0000
Epoch 73/200
184/184 [==============================] - 0s 76us/step - loss: 0.0056 - accuracy: 1.0000
Epoch 74/200
184/184 [==============================] - 0s 54us/step - loss: 0.0047 - accuracy: 1.0000
Epoch 75/200
184/184 [==============================] - 0s 65us/step - loss: 0.0045 - accuracy: 1.0000
Epoch 76/200
184/184 [==============================] - 0s 65us/step - loss: 0.0038 - accuracy: 1.0000
Epoch 77/200
184/184 [==============================] - 0s 49us/step - loss: 0.0039 - accuracy: 1.0000
Epoch 78/200
184/184 [==============================] - 0s 49us/step - loss: 0.0037 - accuracy: 1.0000
Epoch 79/200
184/184 [==============================] - 0s 76us/step - loss: 0.0036 - accuracy: 1.0000
Epoch 80/200
184/184 [==============================] - 0s 54us/step - loss: 0.0034 - accuracy: 1.0000
Epoch 81/200
184/184 [==============================] - 0s 54us/step - loss: 0.0036 - accuracy: 1.0000
Epoch 82/200
184/184 [==============================] - 0s 60us/step - loss: 0.0034 - accuracy: 1.0000
Epoch 83/200
184/184 [==============================] - 0s 65us/step - loss: 0.0040 - accuracy: 1.0000
Epoch 84/200
184/184 [==============================] - 0s 65us/step - loss: 0.0029 - accuracy: 1.0000
Epoch 85/200
184/184 [==============================] - 0s 70us/step - loss: 0.0035 - accuracy: 1.0000
Epoch 86/200
184/184 [==============================] - 0s 65us/step - loss: 0.0028 - accuracy: 1.0000
Epoch 87/200
184/184 [==============================] - 0s 60us/step - loss: 0.0027 - accuracy: 1.0000
Epoch 88/200
184/184 [==============================] - 0s 60us/step - loss: 0.0026 - accuracy: 1.0000
Epoch 89/200
184/184 [==============================] - 0s 54us/step - loss: 0.0025 - accuracy: 1.0000
Epoch 90/200
184/184 [==============================] - 0s 70us/step - loss: 0.0025 - accuracy: 1.0000
Epoch 91/200
184/184 [==============================] - 0s 49us/step - loss: 0.0023 - accuracy: 1.0000
Epoch 92/200
184/184 [==============================] - 0s 49us/step - loss: 0.0024 - accuracy: 1.0000
Epoch 93/200
184/184 [==============================] - 0s 43us/step - loss: 0.0027 - accuracy: 1.0000
Epoch 94/200
184/184 [==============================] - 0s 49us/step - loss: 0.0024 - accuracy: 1.0000
Epoch 95/200
184/184 [==============================] - 0s 54us/step - loss: 0.0022 - accuracy: 1.0000
Epoch 96/200
184/184 [==============================] - 0s 49us/step - loss: 0.0025 - accuracy: 1.0000
Epoch 97/200
184/184 [==============================] - 0s 60us/step - loss: 0.0019 - accuracy: 1.0000
Epoch 98/200
184/184 [==============================] - 0s 65us/step - loss: 0.0022 - accuracy: 1.0000
Epoch 99/200
184/184 [==============================] - 0s 49us/step - loss: 0.0019 - accuracy: 1.0000
Epoch 100/200
184/184 [==============================] - 0s 54us/step - loss: 0.0020 - accuracy: 1.0000
Epoch 101/200
184/184 [==============================] - 0s 65us/step - loss: 0.0019 - accuracy: 1.0000
Epoch 102/200
184/184 [==============================] - 0s 49us/step - loss: 0.0019 - accuracy: 1.0000
Epoch 103/200
184/184 [==============================] - 0s 54us/step - loss: 0.0017 - accuracy: 1.0000
Epoch 104/200
184/184 [==============================] - 0s 43us/step - loss: 0.0017 - accuracy: 1.0000
Epoch 105/200
184/184 [==============================] - 0s 43us/step - loss: 0.0016 - accuracy: 1.0000
Epoch 106/200
184/184 [==============================] - 0s 49us/step - loss: 0.0016 - accuracy: 1.0000
Epoch 107/200
184/184 [==============================] - 0s 49us/step - loss: 0.0017 - accuracy: 1.0000
Epoch 108/200
184/184 [==============================] - 0s 49us/step - loss: 0.0015 - accuracy: 1.0000
Epoch 109/200
184/184 [==============================] - 0s 54us/step - loss: 0.0015 - accuracy: 1.0000
Epoch 110/200
184/184 [==============================] - 0s 60us/step - loss: 0.0015 - accuracy: 1.0000
Epoch 111/200
184/184 [==============================] - 0s 49us/step - loss: 0.0015 - accuracy: 1.0000
Epoch 112/200
184/184 [==============================] - 0s 49us/step - loss: 0.0014 - accuracy: 1.0000
Epoch 113/200
184/184 [==============================] - 0s 38us/step - loss: 0.0015 - accuracy: 1.0000
Epoch 114/200
184/184 [==============================] - 0s 49us/step - loss: 0.0013 - accuracy: 1.0000
Epoch 115/200
184/184 [==============================] - 0s 38us/step - loss: 0.0013 - accuracy: 1.0000
Epoch 116/200
184/184 [==============================] - 0s 38us/step - loss: 0.0013 - accuracy: 1.0000
Epoch 117/200
184/184 [==============================] - 0s 38us/step - loss: 0.0013 - accuracy: 1.0000
Epoch 118/200
184/184 [==============================] - 0s 38us/step - loss: 0.0013 - accuracy: 1.0000
Epoch 119/200
184/184 [==============================] - 0s 38us/step - loss: 0.0012 - accuracy: 1.0000
Epoch 120/200
184/184 [==============================] - 0s 43us/step - loss: 0.0013 - accuracy: 1.0000
Epoch 121/200
184/184 [==============================] - 0s 38us/step - loss: 0.0011 - accuracy: 1.0000
Epoch 122/200
184/184 [==============================] - 0s 38us/step - loss: 0.0012 - accuracy: 1.0000
Epoch 123/200
184/184 [==============================] - 0s 43us/step - loss: 0.0012 - accuracy: 1.0000
Epoch 124/200
184/184 [==============================] - 0s 43us/step - loss: 0.0011 - accuracy: 1.0000
Epoch 125/200
184/184 [==============================] - 0s 49us/step - loss: 0.0011 - accuracy: 1.0000
Epoch 126/200
184/184 [==============================] - 0s 43us/step - loss: 0.0010 - accuracy: 1.0000
Epoch 127/200
184/184 [==============================] - 0s 43us/step - loss: 0.0010 - accuracy: 1.0000
Epoch 128/200
184/184 [==============================] - 0s 43us/step - loss: 9.9645e-04 - accuracy: 1.0000
Epoch 129/200
184/184 [==============================] - 0s 43us/step - loss: 9.7699e-04 - accuracy: 1.0000
Epoch 130/200
184/184 [==============================] - 0s 43us/step - loss: 9.7387e-04 - accuracy: 1.0000
Epoch 131/200
184/184 [==============================] - 0s 43us/step - loss: 9.3894e-04 - accuracy: 1.0000
Epoch 132/200
184/184 [==============================] - 0s 38us/step - loss: 9.3424e-04 - accuracy: 1.0000
Epoch 133/200
184/184 [==============================] - 0s 43us/step - loss: 8.9327e-04 - accuracy: 1.0000
Epoch 134/200
184/184 [==============================] - 0s 43us/step - loss: 8.8558e-04 - accuracy: 1.0000
Epoch 135/200
184/184 [==============================] - 0s 43us/step - loss: 8.8108e-04 - accuracy: 1.0000
Epoch 136/200
184/184 [==============================] - 0s 38us/step - loss: 8.4204e-04 - accuracy: 1.0000
Epoch 137/200
184/184 [==============================] - 0s 43us/step - loss: 8.4635e-04 - accuracy: 1.0000
Epoch 138/200
184/184 [==============================] - 0s 43us/step - loss: 8.1606e-04 - accuracy: 1.0000
Epoch 139/200
184/184 [==============================] - 0s 38us/step - loss: 8.4314e-04 - accuracy: 1.0000
Epoch 140/200
184/184 [==============================] - 0s 43us/step - loss: 7.8206e-04 - accuracy: 1.0000
Epoch 141/200
184/184 [==============================] - 0s 43us/step - loss: 7.6794e-04 - accuracy: 1.0000
Epoch 142/200
184/184 [==============================] - 0s 38us/step - loss: 7.5935e-04 - accuracy: 1.0000
Epoch 143/200
184/184 [==============================] - 0s 38us/step - loss: 7.3194e-04 - accuracy: 1.0000
Epoch 144/200
184/184 [==============================] - 0s 43us/step - loss: 7.6153e-04 - accuracy: 1.0000
Epoch 145/200
184/184 [==============================] - 0s 43us/step - loss: 6.9617e-04 - accuracy: 1.0000
Epoch 146/200
184/184 [==============================] - 0s 43us/step - loss: 7.5307e-04 - accuracy: 1.0000
Epoch 147/200
184/184 [==============================] - 0s 60us/step - loss: 7.0621e-04 - accuracy: 1.0000
Epoch 148/200
184/184 [==============================] - 0s 60us/step - loss: 6.9316e-04 - accuracy: 1.0000
Epoch 149/200
184/184 [==============================] - 0s 54us/step - loss: 6.4927e-04 - accuracy: 1.0000
Epoch 150/200
184/184 [==============================] - 0s 70us/step - loss: 6.6364e-04 - accuracy: 1.0000
Epoch 151/200
184/184 [==============================] - 0s 76us/step - loss: 6.3523e-04 - accuracy: 1.0000
Epoch 152/200
184/184 [==============================] - 0s 70us/step - loss: 6.2906e-04 - accuracy: 1.0000
Epoch 153/200
184/184 [==============================] - 0s 65us/step - loss: 6.0044e-04 - accuracy: 1.0000
Epoch 154/200
184/184 [==============================] - 0s 70us/step - loss: 6.1567e-04 - accuracy: 1.0000
Epoch 155/200
184/184 [==============================] - 0s 81us/step - loss: 6.0100e-04 - accuracy: 1.0000
Epoch 156/200
184/184 [==============================] - 0s 81us/step - loss: 5.7853e-04 - accuracy: 1.0000
Epoch 157/200
184/184 [==============================] - 0s 70us/step - loss: 5.4953e-04 - accuracy: 1.0000
Epoch 158/200
184/184 [==============================] - 0s 60us/step - loss: 5.5356e-04 - accuracy: 1.0000
Epoch 159/200
184/184 [==============================] - 0s 60us/step - loss: 5.5042e-04 - accuracy: 1.0000
Epoch 160/200
184/184 [==============================] - 0s 65us/step - loss: 5.3015e-04 - accuracy: 1.0000
Epoch 161/200
184/184 [==============================] - 0s 65us/step - loss: 5.1882e-04 - accuracy: 1.0000
Epoch 162/200
184/184 [==============================] - 0s 54us/step - loss: 5.2689e-04 - accuracy: 1.0000
Epoch 163/200
184/184 [==============================] - 0s 81us/step - loss: 5.0007e-04 - accuracy: 1.0000
Epoch 164/200
184/184 [==============================] - 0s 54us/step - loss: 4.9006e-04 - accuracy: 1.0000
Epoch 165/200
184/184 [==============================] - 0s 65us/step - loss: 4.9098e-04 - accuracy: 1.0000
Epoch 166/200
184/184 [==============================] - 0s 60us/step - loss: 4.7311e-04 - accuracy: 1.0000
Epoch 167/200
184/184 [==============================] - 0s 54us/step - loss: 4.7360e-04 - accuracy: 1.0000
Epoch 168/200
184/184 [==============================] - 0s 49us/step - loss: 4.5471e-04 - accuracy: 1.0000
Epoch 169/200
184/184 [==============================] - 0s 49us/step - loss: 4.5589e-04 - accuracy: 1.0000
Epoch 170/200
184/184 [==============================] - 0s 49us/step - loss: 4.4844e-04 - accuracy: 1.0000
Epoch 171/200
184/184 [==============================] - 0s 54us/step - loss: 4.3872e-04 - accuracy: 1.0000
Epoch 172/200
184/184 [==============================] - 0s 49us/step - loss: 4.3961e-04 - accuracy: 1.0000
Epoch 173/200
184/184 [==============================] - 0s 49us/step - loss: 4.1153e-04 - accuracy: 1.0000
Epoch 174/200
184/184 [==============================] - 0s 49us/step - loss: 4.4204e-04 - accuracy: 1.0000
Epoch 175/200
184/184 [==============================] - 0s 43us/step - loss: 3.8854e-04 - accuracy: 1.0000
Epoch 176/200
184/184 [==============================] - 0s 38us/step - loss: 4.4864e-04 - accuracy: 1.0000
Epoch 177/200
184/184 [==============================] - 0s 43us/step - loss: 3.8898e-04 - accuracy: 1.0000
Epoch 178/200
184/184 [==============================] - 0s 54us/step - loss: 4.0942e-04 - accuracy: 1.0000
Epoch 179/200
184/184 [==============================] - 0s 43us/step - loss: 3.8198e-04 - accuracy: 1.0000
Epoch 180/200
184/184 [==============================] - 0s 49us/step - loss: 3.7579e-04 - accuracy: 1.0000
Epoch 181/200
184/184 [==============================] - 0s 43us/step - loss: 3.7053e-04 - accuracy: 1.0000
Epoch 182/200
184/184 [==============================] - 0s 38us/step - loss: 3.5682e-04 - accuracy: 1.0000
Epoch 183/200
184/184 [==============================] - 0s 81us/step - loss: 3.5467e-04 - accuracy: 1.0000
Epoch 184/200
184/184 [==============================] - 0s 49us/step - loss: 3.5036e-04 - accuracy: 1.0000
Epoch 185/200
184/184 [==============================] - 0s 38us/step - loss: 3.6173e-04 - accuracy: 1.0000
Epoch 186/200
184/184 [==============================] - 0s 38us/step - loss: 3.3967e-04 - accuracy: 1.0000
Epoch 187/200
184/184 [==============================] - 0s 43us/step - loss: 3.4493e-04 - accuracy: 1.0000
Epoch 188/200
184/184 [==============================] - 0s 38us/step - loss: 3.4991e-04 - accuracy: 1.0000
Epoch 189/200
184/184 [==============================] - 0s 43us/step - loss: 3.2206e-04 - accuracy: 1.0000
Epoch 190/200
184/184 [==============================] - 0s 43us/step - loss: 3.2100e-04 - accuracy: 1.0000
Epoch 191/200

In [160]:
pred_train= model.predict(y_train)
scores = model.evaluate(y_train, X_trains, verbose=0)
print('Accuracy on training data: {}% \n Error on training data: {}'.format(scores[1], 1 - scores[1]))   
 
pred_test= model.predict(y_test)
scores2 = model.evaluate(y_test, X_tests, verbose=0)
print('Accuracy on test data: {}% \n Error on test data: {}'.format(scores2[1], 1 - scores2[1]))

Accuracy on training data: 1.0%
 Error on training data: 0.0
Accuracy on test data: 0.9268292784690857%
 Error on test data: 0.0731707215309143

In [176]:
dataTesting = pd.read_csv("2017-forecast-peminatan-cnn.csv")
dataTesting = dataTesting.drop(['Unnamed: 0'],axis=1)
dataTesting.head()

,NIM,nama,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,...,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Pilihan 1,Pilihan 2,Peminatan
0,1202170258,PUTU DELA APSARI MERTADEWI,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,4.0,4.0,4.0,3.5,4.0,3.0,3.5,4,3,7
1,1202174065,MUHAMMAD FIKRI AZHAR,3.5,3.0,3.5,3.5,3.5,2.0,3.0,3.5,...,3.5,3.0,2.0,4.0,3.0,2.0,3.5,2,6,3
2,1202174208,YUNI ARIYANI ARIFIN,3.5,3.0,3.5,4.0,3.5,3.0,2.5,4.0,...,3.5,3.5,2.0,3.0,3.5,3.0,3.5,6,3,7
3,1202174372,IDELLIA MUTHIA NURBAISA,4.0,3.5,4.0,4.0,4.0,4.0,3.5,4.0,...,3.5,3.5,3.0,4.0,3.5,3.0,4.0,2,6,3
4,1202170180,IBRAM MOSZARDO,2.5,3.5,3.0,2.0,3.5,3.0,2.0,3.5,...,3.5,3.5,3.0,3.5,4.0,3.0,2.5,3,7,7

In [179]:
dataTestingPredictor = dataTesting[predictors]
dataTestingHasil = model.predict_classes(dataTestingPredictor)

dataTesting["Status Lulus Tepat Waktu"] = dataTestingHasil
dataTesting.rename(columns={'nim':'NIM'}, inplace=True)
dataTesting.drop(columns="nama",axis=1).head()
print(dataTestingHasil)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1
 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 0 0 1 0 0 1 1 1 0 0 0 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 0 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1
 1 0 0 0 0 0 0 1 0 1 1 0 0 0 1 0 1 0 0 1 1 0 1 0 1 1 0 1 1 0 1 1 0 0]

In [180]:
dataTesting.head()

,NIM,nama,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,...,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Pilihan 1,Pilihan 2,Peminatan,Status Lulus Tepat Waktu
0,1202170258,PUTU DELA APSARI MERTADEWI,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,4.0,4.0,3.5,4.0,3.0,3.5,4,3,7,1
1,1202174065,MUHAMMAD FIKRI AZHAR,3.5,3.0,3.5,3.5,3.5,2.0,3.0,3.5,...,3.0,2.0,4.0,3.0,2.0,3.5,2,6,3,1
2,1202174208,YUNI ARIYANI ARIFIN,3.5,3.0,3.5,4.0,3.5,3.0,2.5,4.0,...,3.5,2.0,3.0,3.5,3.0,3.5,6,3,7,1
3,1202174372,IDELLIA MUTHIA NURBAISA,4.0,3.5,4.0,4.0,4.0,4.0,3.5,4.0,...,3.5,3.0,4.0,3.5,3.0,4.0,2,6,3,1
4,1202170180,IBRAM MOSZARDO,2.5,3.5,3.0,2.0,3.5,3.0,2.0,3.5,...,3.5,3.0,3.5,4.0,3.0,2.5,3,7,7,1