In [111]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential, Model
from keras.layers import Input, Dense
from keras.utils import to_categorical 

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

df = pd.read_csv('2016-forecast-cnn.csv')
df = df.drop(['Unnamed: 0','No','NIM'],axis=1)
df.head()

,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,Strukdat,SE,PO,SCM,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Lulus Tepat Waktu
0,4.0,3.5,4.0,3.5,4.0,3.5,3.5,3.5,3.5,4.0,3.5,3.5,4.0,3.5,3.5,4.0,3.5,3.5,3.5,1
1,4.0,3.5,3.5,3.5,3.5,3.5,3.5,4.0,3.5,3.5,3.5,4.0,3.5,3.5,3.0,3.5,4.0,3.5,3.5,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0
3,4.0,4.0,3.5,3.5,4.0,3.0,4.0,3.5,3.0,3.5,3.0,3.5,3.5,4.0,3.5,3.5,3.5,2.5,3.5,1
4,3.5,3.0,3.5,2.0,2.0,2.5,4.0,3.5,2.0,3.5,2.5,2.5,3.5,3.5,2.5,2.0,1.0,4.0,4.0,1

In [112]:
df2 = pd.read_csv('2016 data v5.csv')
df2.head()

,No,NIM,OOP,RPB,RPL,PI,APSI,WEB,Statistik,Matdis,...,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,KSI,Pilihan 1,Pilihan 2,Peminatan
0,1,1202160002,4.0,3.5,0.0,4.0,3.5,4.0,3.5,3.5,...,4.0,3.5,3.5,4.0,3.5,3.5,0.0,ERP,EDM,ERP
1,2,1202160009,4.0,3.5,0.0,3.5,3.5,3.5,3.5,3.5,...,3.5,3.5,3.0,3.5,4.0,3.5,0.0,ERP,EDM,ERP
2,3,1202160010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0,NaN
3,4,1202160011,4.0,4.0,0.0,3.5,3.5,4.0,3.0,4.0,...,3.5,4.0,3.5,3.5,3.5,2.5,0.0,ERP,EDM,ERP
4,5,1202160013,3.5,3.0,0.0,3.5,2.0,2.0,2.5,4.0,...,3.5,3.5,2.5,2.0,1.0,4.0,0.0,EA,EDM,EDM

In [113]:
df['Pilihan 1'] = df2['Pilihan 1']
df['Pilihan 2'] = df2['Pilihan 2']
df['Peminatan'] = df2['Peminatan']
df.head()

,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,Strukdat,SE,...,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Lulus Tepat Waktu,Pilihan 1,Pilihan 2,Peminatan
0,4.0,3.5,4.0,3.5,4.0,3.5,3.5,3.5,3.5,4.0,...,3.5,3.5,4.0,3.5,3.5,3.5,1,ERP,EDM,ERP
1,4.0,3.5,3.5,3.5,3.5,3.5,3.5,4.0,3.5,3.5,...,3.5,3.0,3.5,4.0,3.5,3.5,1,ERP,EDM,ERP
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.5,0,NaN,0,NaN
3,4.0,4.0,3.5,3.5,4.0,3.0,4.0,3.5,3.0,3.5,...,4.0,3.5,3.5,3.5,2.5,3.5,1,ERP,EDM,ERP
4,3.5,3.0,3.5,2.0,2.0,2.5,4.0,3.5,2.0,3.5,...,3.5,2.5,2.0,1.0,4.0,4.0,1,EA,EDM,EDM

In [114]:
new_class = [0] * len(df['Peminatan'])
for index, row in df.iterrows() :
    if row["Peminatan"] == "TECHNO" :
        new_class[index] = 1
    elif row['Peminatan'] == "EAD" :
        new_class[index] = 2
    elif row['Peminatan'] == "EDM" :
        new_class[index] = 3
    elif row['Peminatan'] == "ERP" :
        new_class[index] = 4
    elif row['Peminatan'] == "EA" :
        new_class[index] = 5
    elif row['Peminatan'] == "EIM" :
        new_class[index] = 6
    elif row['Peminatan'] == "ISM" :
        new_class[index] = 7
    else :
        new_class[index] = 0
df["Peminatan"] = new_class
df.head()

,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,Strukdat,SE,...,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Lulus Tepat Waktu,Pilihan 1,Pilihan 2,Peminatan
0,4.0,3.5,4.0,3.5,4.0,3.5,3.5,3.5,3.5,4.0,...,3.5,3.5,4.0,3.5,3.5,3.5,1,ERP,EDM,4
1,4.0,3.5,3.5,3.5,3.5,3.5,3.5,4.0,3.5,3.5,...,3.5,3.0,3.5,4.0,3.5,3.5,1,ERP,EDM,4
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.5,0,NaN,0,0
3,4.0,4.0,3.5,3.5,4.0,3.0,4.0,3.5,3.0,3.5,...,4.0,3.5,3.5,3.5,2.5,3.5,1,ERP,EDM,4
4,3.5,3.0,3.5,2.0,2.0,2.5,4.0,3.5,2.0,3.5,...,3.5,2.5,2.0,1.0,4.0,4.0,1,EA,EDM,3

In [115]:
new_class = [0] * len(df['Pilihan 1'])
for index, row in df.iterrows() :
    if row["Pilihan 1"] == "TECHNO" :
        new_class[index] = 1
    elif row['Pilihan 1'] == "EAD" :
        new_class[index] = 2
    elif row['Pilihan 1'] == "EDM" :
        new_class[index] = 3
    elif row['Pilihan 1'] == "ERP" :
        new_class[index] = 4
    elif row['Pilihan 1'] == "EA" :
        new_class[index] = 5
    elif row['Pilihan 1'] == "EIM" :
        new_class[index] = 6
    elif row['Pilihan 1'] == "ISM" :
        new_class[index] = 7
    else :
        new_class[index] = 0
df["Pilihan 1"] = new_class
df.head()

,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,Strukdat,SE,...,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Lulus Tepat Waktu,Pilihan 1,Pilihan 2,Peminatan
0,4.0,3.5,4.0,3.5,4.0,3.5,3.5,3.5,3.5,4.0,...,3.5,3.5,4.0,3.5,3.5,3.5,1,4,EDM,4
1,4.0,3.5,3.5,3.5,3.5,3.5,3.5,4.0,3.5,3.5,...,3.5,3.0,3.5,4.0,3.5,3.5,1,4,EDM,4
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.5,0,0,0,0
3,4.0,4.0,3.5,3.5,4.0,3.0,4.0,3.5,3.0,3.5,...,4.0,3.5,3.5,3.5,2.5,3.5,1,4,EDM,4
4,3.5,3.0,3.5,2.0,2.0,2.5,4.0,3.5,2.0,3.5,...,3.5,2.5,2.0,1.0,4.0,4.0,1,5,EDM,3

In [116]:
new_class = [0] * len(df['Pilihan 2'])
for index, row in df.iterrows() :
    if row["Pilihan 2"] == "TECHNO" :
        new_class[index] = 1
    elif row['Pilihan 2'] == "EAD" :
        new_class[index] = 2
    elif row['Pilihan 2'] == "EDM" :
        new_class[index] = 3
    elif row['Pilihan 2'] == "ERP" :
        new_class[index] = 4
    elif row['Pilihan 2'] == "EA" :
        new_class[index] = 5
    elif row['Pilihan 2'] == "EIM" :
        new_class[index] = 6
    elif row['Pilihan 2'] == "ISM" :
        new_class[index] = 7
    else :
        new_class[index] = 0
df["Pilihan 2"] = new_class
df.head()

,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,Strukdat,SE,...,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Lulus Tepat Waktu,Pilihan 1,Pilihan 2,Peminatan
0,4.0,3.5,4.0,3.5,4.0,3.5,3.5,3.5,3.5,4.0,...,3.5,3.5,4.0,3.5,3.5,3.5,1,4,3,4
1,4.0,3.5,3.5,3.5,3.5,3.5,3.5,4.0,3.5,3.5,...,3.5,3.0,3.5,4.0,3.5,3.5,1,4,3,4
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.5,0,0,0,0
3,4.0,4.0,3.5,3.5,4.0,3.0,4.0,3.5,3.0,3.5,...,4.0,3.5,3.5,3.5,2.5,3.5,1,4,3,4
4,3.5,3.0,3.5,2.0,2.0,2.5,4.0,3.5,2.0,3.5,...,3.5,2.5,2.0,1.0,4.0,4.0,1,5,3,3

In [117]:
mainData = df[df.Peminatan != 0]
mainData = mainData.drop(['Lulus Tepat Waktu'],axis=1)
target = ["Peminatan"]
predictors = list(set(list(mainData.columns))-set(target))
mainData[predictors] = mainData[predictors]/mainData[predictors].max()
mainData[predictors].head()

,SCM,Pilihan 1,Desjar,Alpro,EA,OOP,Matdis,WEB,Manprosi,Basdat,...,PO,PI,Sisop,Statistik,Manjarkom,APSI,Pilihan 2,MSDM,RPB,Strukdat
0,0.875,0.571429,0.875,0.875,1.000,1.000,0.875,1.000,0.875,0.875,...,0.875,1.000,1.000,0.875,0.875,0.875,0.428571,0.875,0.875,0.875
1,1.000,0.571429,0.875,1.000,0.875,1.000,0.875,0.875,0.875,0.875,...,0.875,0.875,0.875,0.875,0.750,0.875,0.428571,1.000,0.875,0.875
3,0.875,0.571429,0.625,0.875,0.875,1.000,1.000,1.000,0.875,1.000,...,0.750,0.875,0.875,0.750,0.875,0.875,0.428571,0.875,1.000,0.750
4,0.625,0.714286,1.000,0.875,0.875,0.875,1.000,0.500,1.000,0.875,...,0.625,0.875,0.500,0.625,0.625,0.500,0.428571,0.250,0.750,0.500
5,0.875,1.000000,0.625,0.875,0.875,0.250,1.000,0.750,0.625,0.625,...,0.625,0.875,0.500,0.500,0.250,0.875,0.428571,0.875,0.250,0.750

In [118]:
X = mainData[target]
y = mainData[predictors]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.40, random_state=40)
print(X_train.shape)
print(y_train.shape)
print(X_test.head())
print(y_test.shape)

(184, 1)
(184, 21)
     Peminatan
304          7
384          3
319          7
289          3
245          3
(123, 21)

In [119]:
X_trains = to_categorical(X_train)
X_tests = to_categorical(X_test)

print(X_trains.shape)

(184, 8)

In [120]:
model = Sequential()
model.add(Dense(128, activation='relu', input_dim=21))
model.add(Dense(64, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(8, activation='softmax'))

# Compile the model
model.compile(optimizer='adam', 
              loss='categorical_crossentropy', 
              metrics=['accuracy'])

In [121]:
model.fit(y_train, X_trains, epochs=200)

Epoch 1/200
184/184 [==============================] - 0s 444us/step - loss: 2.1138 - accuracy: 0.1196
Epoch 2/200
184/184 [==============================] - 0s 54us/step - loss: 2.0375 - accuracy: 0.2065
Epoch 3/200
184/184 [==============================] - 0s 76us/step - loss: 2.0015 - accuracy: 0.3098
Epoch 4/200
184/184 [==============================] - 0s 60us/step - loss: 1.9628 - accuracy: 0.2989
Epoch 5/200
184/184 [==============================] - 0s 65us/step - loss: 1.9224 - accuracy: 0.3152
Epoch 6/200
184/184 [==============================] - 0s 65us/step - loss: 1.8767 - accuracy: 0.4022
Epoch 7/200
184/184 [==============================] - 0s 70us/step - loss: 1.8296 - accuracy: 0.3859
Epoch 8/200
184/184 [==============================] - 0s 65us/step - loss: 1.7757 - accuracy: 0.4022
Epoch 9/200
184/184 [==============================] - 0s 54us/step - loss: 1.7199 - accuracy: 0.4402
Epoch 10/200
184/184 [==============================] - 0s 54us/step - loss: 1.6553 - accuracy: 0.4293
Epoch 11/200
184/184 [==============================] - 0s 60us/step - loss: 1.5988 - accuracy: 0.3859
Epoch 12/200
184/184 [==============================] - 0s 60us/step - loss: 1.5345 - accuracy: 0.5272
Epoch 13/200
184/184 [==============================] - 0s 49us/step - loss: 1.4644 - accuracy: 0.5272
Epoch 14/200
184/184 [==============================] - 0s 49us/step - loss: 1.3945 - accuracy: 0.5489
Epoch 15/200
184/184 [==============================] - 0s 54us/step - loss: 1.3296 - accuracy: 0.5815
Epoch 16/200
184/184 [==============================] - 0s 43us/step - loss: 1.2627 - accuracy: 0.5924
Epoch 17/200
184/184 [==============================] - 0s 49us/step - loss: 1.2097 - accuracy: 0.6793
Epoch 18/200
184/184 [==============================] - 0s 43us/step - loss: 1.1696 - accuracy: 0.6196
Epoch 19/200
184/184 [==============================] - 0s 60us/step - loss: 1.1218 - accuracy: 0.6902
Epoch 20/200
184/184 [==============================] - 0s 54us/step - loss: 1.0961 - accuracy: 0.6739
Epoch 21/200
184/184 [==============================] - 0s 49us/step - loss: 1.0547 - accuracy: 0.6739
Epoch 22/200
184/184 [==============================] - 0s 43us/step - loss: 1.0146 - accuracy: 0.6957
Epoch 23/200
184/184 [==============================] - 0s 43us/step - loss: 0.9826 - accuracy: 0.6902
Epoch 24/200
184/184 [==============================] - 0s 54us/step - loss: 0.9589 - accuracy: 0.6957
Epoch 25/200
184/184 [==============================] - 0s 54us/step - loss: 0.9195 - accuracy: 0.7772
Epoch 26/200
184/184 [==============================] - 0s 49us/step - loss: 0.9081 - accuracy: 0.7065
Epoch 27/200
184/184 [==============================] - 0s 43us/step - loss: 0.8822 - accuracy: 0.7554
Epoch 28/200
184/184 [==============================] - 0s 43us/step - loss: 0.8539 - accuracy: 0.7500
Epoch 29/200
184/184 [==============================] - 0s 43us/step - loss: 0.8350 - accuracy: 0.7609
Epoch 30/200
184/184 [==============================] - 0s 49us/step - loss: 0.8029 - accuracy: 0.7663
Epoch 31/200
184/184 [==============================] - 0s 38us/step - loss: 0.7829 - accuracy: 0.7935
Epoch 32/200
184/184 [==============================] - 0s 60us/step - loss: 0.7948 - accuracy: 0.7880
Epoch 33/200
184/184 [==============================] - 0s 54us/step - loss: 0.7768 - accuracy: 0.7880
Epoch 34/200
184/184 [==============================] - 0s 43us/step - loss: 0.7616 - accuracy: 0.7663
Epoch 35/200
184/184 [==============================] - 0s 43us/step - loss: 0.7541 - accuracy: 0.7609
Epoch 36/200
184/184 [==============================] - 0s 43us/step - loss: 0.7299 - accuracy: 0.7880
Epoch 37/200
184/184 [==============================] - 0s 43us/step - loss: 0.6897 - accuracy: 0.8424
Epoch 38/200
184/184 [==============================] - 0s 43us/step - loss: 0.6799 - accuracy: 0.8261
Epoch 39/200
184/184 [==============================] - 0s 43us/step - loss: 0.6720 - accuracy: 0.8098
Epoch 40/200
184/184 [==============================] - 0s 43us/step - loss: 0.6703 - accuracy: 0.7935
Epoch 41/200
184/184 [==============================] - 0s 43us/step - loss: 0.6344 - accuracy: 0.8478
Epoch 42/200
184/184 [==============================] - 0s 49us/step - loss: 0.6156 - accuracy: 0.8424
Epoch 43/200
184/184 [==============================] - 0s 38us/step - loss: 0.6014 - accuracy: 0.8533
Epoch 44/200
184/184 [==============================] - 0s 43us/step - loss: 0.6024 - accuracy: 0.8641
Epoch 45/200
184/184 [==============================] - 0s 49us/step - loss: 0.5956 - accuracy: 0.8424
Epoch 46/200
184/184 [==============================] - 0s 38us/step - loss: 0.5825 - accuracy: 0.8533
Epoch 47/200
184/184 [==============================] - 0s 43us/step - loss: 0.5784 - accuracy: 0.8478
Epoch 48/200
184/184 [==============================] - 0s 43us/step - loss: 0.5575 - accuracy: 0.8533
Epoch 49/200
184/184 [==============================] - 0s 43us/step - loss: 0.5465 - accuracy: 0.8696
Epoch 50/200
184/184 [==============================] - 0s 43us/step - loss: 0.5423 - accuracy: 0.8696
Epoch 51/200
184/184 [==============================] - 0s 54us/step - loss: 0.5184 - accuracy: 0.8913
Epoch 52/200
184/184 [==============================] - 0s 60us/step - loss: 0.5268 - accuracy: 0.8804
Epoch 53/200
184/184 [==============================] - 0s 54us/step - loss: 0.5215 - accuracy: 0.8641
Epoch 54/200
184/184 [==============================] - 0s 65us/step - loss: 0.5093 - accuracy: 0.8641
Epoch 55/200
184/184 [==============================] - 0s 65us/step - loss: 0.5244 - accuracy: 0.8641
Epoch 56/200
184/184 [==============================] - 0s 60us/step - loss: 0.4732 - accuracy: 0.8750
Epoch 57/200
184/184 [==============================] - 0s 70us/step - loss: 0.4787 - accuracy: 0.9022
Epoch 58/200
184/184 [==============================] - 0s 54us/step - loss: 0.4842 - accuracy: 0.8804
Epoch 59/200
184/184 [==============================] - 0s 60us/step - loss: 0.4544 - accuracy: 0.8804
Epoch 60/200
184/184 [==============================] - 0s 54us/step - loss: 0.4481 - accuracy: 0.8913
Epoch 61/200
184/184 [==============================] - 0s 49us/step - loss: 0.4431 - accuracy: 0.8913
Epoch 62/200
184/184 [==============================] - 0s 65us/step - loss: 0.4249 - accuracy: 0.8913
Epoch 63/200
184/184 [==============================] - 0s 60us/step - loss: 0.4157 - accuracy: 0.8967
Epoch 64/200
184/184 [==============================] - 0s 54us/step - loss: 0.4239 - accuracy: 0.8967
Epoch 65/200
184/184 [==============================] - 0s 49us/step - loss: 0.3969 - accuracy: 0.9076
Epoch 66/200
184/184 [==============================] - 0s 54us/step - loss: 0.3975 - accuracy: 0.9022
Epoch 67/200
184/184 [==============================] - 0s 54us/step - loss: 0.3970 - accuracy: 0.8913
Epoch 68/200
184/184 [==============================] - 0s 60us/step - loss: 0.4010 - accuracy: 0.9022
Epoch 69/200
184/184 [==============================] - 0s 54us/step - loss: 0.4001 - accuracy: 0.9185
Epoch 70/200
184/184 [==============================] - 0s 65us/step - loss: 0.3898 - accuracy: 0.8804
Epoch 71/200
184/184 [==============================] - 0s 60us/step - loss: 0.3781 - accuracy: 0.9076
Epoch 72/200
184/184 [==============================] - 0s 60us/step - loss: 0.3660 - accuracy: 0.9076
Epoch 73/200
184/184 [==============================] - 0s 54us/step - loss: 0.3538 - accuracy: 0.9185
Epoch 74/200
184/184 [==============================] - 0s 54us/step - loss: 0.3791 - accuracy: 0.8967
Epoch 75/200
184/184 [==============================] - 0s 65us/step - loss: 0.3474 - accuracy: 0.9185
Epoch 76/200
184/184 [==============================] - 0s 60us/step - loss: 0.3547 - accuracy: 0.9022
Epoch 77/200
184/184 [==============================] - 0s 60us/step - loss: 0.3617 - accuracy: 0.8967
Epoch 78/200
184/184 [==============================] - 0s 76us/step - loss: 0.3752 - accuracy: 0.8859
Epoch 79/200
184/184 [==============================] - 0s 54us/step - loss: 0.3807 - accuracy: 0.8859
Epoch 80/200
184/184 [==============================] - 0s 60us/step - loss: 0.3726 - accuracy: 0.8967
Epoch 81/200
184/184 [==============================] - 0s 54us/step - loss: 0.3397 - accuracy: 0.9185
Epoch 82/200
184/184 [==============================] - 0s 60us/step - loss: 0.3308 - accuracy: 0.9022
Epoch 83/200
184/184 [==============================] - 0s 60us/step - loss: 0.3179 - accuracy: 0.9076
Epoch 84/200
184/184 [==============================] - 0s 49us/step - loss: 0.2938 - accuracy: 0.9348
Epoch 85/200
184/184 [==============================] - 0s 49us/step - loss: 0.2887 - accuracy: 0.9293
Epoch 86/200
184/184 [==============================] - 0s 54us/step - loss: 0.2826 - accuracy: 0.9293
Epoch 87/200
184/184 [==============================] - 0s 43us/step - loss: 0.2792 - accuracy: 0.9348
Epoch 88/200
184/184 [==============================] - 0s 54us/step - loss: 0.2752 - accuracy: 0.9293
Epoch 89/200
184/184 [==============================] - 0s 60us/step - loss: 0.2769 - accuracy: 0.9293
Epoch 90/200
184/184 [==============================] - 0s 54us/step - loss: 0.2630 - accuracy: 0.9402
Epoch 91/200
184/184 [==============================] - 0s 43us/step - loss: 0.2670 - accuracy: 0.9348
Epoch 92/200
184/184 [==============================] - 0s 54us/step - loss: 0.2551 - accuracy: 0.9402
Epoch 93/200
184/184 [==============================] - 0s 54us/step - loss: 0.2549 - accuracy: 0.9511
Epoch 94/200
184/184 [==============================] - 0s 49us/step - loss: 0.2434 - accuracy: 0.9402
Epoch 95/200
184/184 [==============================] - 0s 49us/step - loss: 0.2454 - accuracy: 0.9348
Epoch 96/200
184/184 [==============================] - 0s 43us/step - loss: 0.2475 - accuracy: 0.9402
Epoch 97/200
184/184 [==============================] - 0s 43us/step - loss: 0.2522 - accuracy: 0.9457
Epoch 98/200
184/184 [==============================] - 0s 43us/step - loss: 0.2370 - accuracy: 0.9511
Epoch 99/200
184/184 [==============================] - 0s 43us/step - loss: 0.2384 - accuracy: 0.9348
Epoch 100/200
184/184 [==============================] - 0s 38us/step - loss: 0.2453 - accuracy: 0.9402
Epoch 101/200
184/184 [==============================] - 0s 38us/step - loss: 0.2254 - accuracy: 0.9511
Epoch 102/200
184/184 [==============================] - 0s 43us/step - loss: 0.2408 - accuracy: 0.9293
Epoch 103/200
184/184 [==============================] - 0s 38us/step - loss: 0.2407 - accuracy: 0.9348
Epoch 104/200
184/184 [==============================] - 0s 43us/step - loss: 0.2361 - accuracy: 0.9348
Epoch 105/200
184/184 [==============================] - 0s 43us/step - loss: 0.2737 - accuracy: 0.8750
Epoch 106/200
184/184 [==============================] - 0s 65us/step - loss: 0.2677 - accuracy: 0.9185
Epoch 107/200
184/184 [==============================] - 0s 54us/step - loss: 0.2323 - accuracy: 0.9402
Epoch 108/200
184/184 [==============================] - 0s 49us/step - loss: 0.2379 - accuracy: 0.9348
Epoch 109/200
184/184 [==============================] - 0s 60us/step - loss: 0.2230 - accuracy: 0.9565
Epoch 110/200
184/184 [==============================] - 0s 54us/step - loss: 0.2096 - accuracy: 0.9511
Epoch 111/200
184/184 [==============================] - 0s 49us/step - loss: 0.1926 - accuracy: 0.9620
Epoch 112/200
184/184 [==============================] - 0s 65us/step - loss: 0.1815 - accuracy: 0.9728
Epoch 113/200
184/184 [==============================] - 0s 54us/step - loss: 0.1791 - accuracy: 0.9620
Epoch 114/200
184/184 [==============================] - 0s 60us/step - loss: 0.1836 - accuracy: 0.9620
Epoch 115/200
184/184 [==============================] - 0s 49us/step - loss: 0.1746 - accuracy: 0.9674
Epoch 116/200
184/184 [==============================] - 0s 54us/step - loss: 0.1734 - accuracy: 0.9674
Epoch 117/200
184/184 [==============================] - 0s 54us/step - loss: 0.1681 - accuracy: 0.9620
Epoch 118/200
184/184 [==============================] - 0s 49us/step - loss: 0.1714 - accuracy: 0.9674
Epoch 119/200
184/184 [==============================] - 0s 65us/step - loss: 0.1672 - accuracy: 0.9620
Epoch 120/200
184/184 [==============================] - 0s 65us/step - loss: 0.1692 - accuracy: 0.9620
Epoch 121/200
184/184 [==============================] - 0s 70us/step - loss: 0.1568 - accuracy: 0.9728
Epoch 122/200
184/184 [==============================] - 0s 76us/step - loss: 0.1545 - accuracy: 0.9728
Epoch 123/200
184/184 [==============================] - 0s 81us/step - loss: 0.1494 - accuracy: 0.9674
Epoch 124/200
184/184 [==============================] - 0s 60us/step - loss: 0.1507 - accuracy: 0.9674
Epoch 125/200
184/184 [==============================] - 0s 60us/step - loss: 0.1501 - accuracy: 0.9674
Epoch 126/200
184/184 [==============================] - 0s 49us/step - loss: 0.1499 - accuracy: 0.9783
Epoch 127/200
184/184 [==============================] - 0s 60us/step - loss: 0.1380 - accuracy: 0.9674
Epoch 128/200
184/184 [==============================] - 0s 54us/step - loss: 0.1428 - accuracy: 0.9728
Epoch 129/200
184/184 [==============================] - 0s 54us/step - loss: 0.1329 - accuracy: 0.9837
Epoch 130/200
184/184 [==============================] - 0s 60us/step - loss: 0.1385 - accuracy: 0.9620
Epoch 131/200
184/184 [==============================] - 0s 65us/step - loss: 0.1320 - accuracy: 0.9891
Epoch 132/200
184/184 [==============================] - 0s 60us/step - loss: 0.1280 - accuracy: 0.9728
Epoch 133/200
184/184 [==============================] - 0s 70us/step - loss: 0.1313 - accuracy: 0.9837
Epoch 134/200
184/184 [==============================] - 0s 70us/step - loss: 0.1307 - accuracy: 0.9728
Epoch 135/200
184/184 [==============================] - 0s 70us/step - loss: 0.1220 - accuracy: 0.9891
Epoch 136/200
184/184 [==============================] - 0s 70us/step - loss: 0.1331 - accuracy: 0.9728
Epoch 137/200
184/184 [==============================] - 0s 76us/step - loss: 0.1207 - accuracy: 0.9783
Epoch 138/200
184/184 [==============================] - 0s 70us/step - loss: 0.1162 - accuracy: 0.9891
Epoch 139/200
184/184 [==============================] - 0s 70us/step - loss: 0.1179 - accuracy: 0.9837
Epoch 140/200
184/184 [==============================] - 0s 81us/step - loss: 0.1243 - accuracy: 0.9783
Epoch 141/200
184/184 [==============================] - 0s 49us/step - loss: 0.1174 - accuracy: 0.9837
Epoch 142/200
184/184 [==============================] - 0s 38us/step - loss: 0.1155 - accuracy: 0.9783
Epoch 143/200
184/184 [==============================] - 0s 54us/step - loss: 0.1146 - accuracy: 0.9891
Epoch 144/200
184/184 [==============================] - 0s 38us/step - loss: 0.1076 - accuracy: 0.9837
Epoch 145/200
184/184 [==============================] - 0s 49us/step - loss: 0.1071 - accuracy: 0.9783
Epoch 146/200
184/184 [==============================] - 0s 54us/step - loss: 0.0996 - accuracy: 0.9891
Epoch 147/200
184/184 [==============================] - 0s 43us/step - loss: 0.1028 - accuracy: 0.9891
Epoch 148/200
184/184 [==============================] - 0s 49us/step - loss: 0.0973 - accuracy: 0.9891
Epoch 149/200
184/184 [==============================] - 0s 49us/step - loss: 0.0979 - accuracy: 0.9891
Epoch 150/200
184/184 [==============================] - 0s 43us/step - loss: 0.0991 - accuracy: 0.9891
Epoch 151/200
184/184 [==============================] - 0s 43us/step - loss: 0.0881 - accuracy: 0.9946
Epoch 152/200
184/184 [==============================] - 0s 49us/step - loss: 0.0904 - accuracy: 0.9837
Epoch 153/200
184/184 [==============================] - 0s 43us/step - loss: 0.0870 - accuracy: 0.9891
Epoch 154/200
184/184 [==============================] - 0s 49us/step - loss: 0.0830 - accuracy: 0.9946
Epoch 155/200
184/184 [==============================] - 0s 43us/step - loss: 0.0845 - accuracy: 0.9891
Epoch 156/200
184/184 [==============================] - 0s 49us/step - loss: 0.0891 - accuracy: 0.9946
Epoch 157/200
184/184 [==============================] - 0s 43us/step - loss: 0.0825 - accuracy: 0.9946
Epoch 158/200
184/184 [==============================] - 0s 43us/step - loss: 0.0830 - accuracy: 0.9946
Epoch 159/200
184/184 [==============================] - 0s 38us/step - loss: 0.0880 - accuracy: 0.9837
Epoch 160/200
184/184 [==============================] - 0s 38us/step - loss: 0.0821 - accuracy: 0.9837
Epoch 161/200
184/184 [==============================] - 0s 38us/step - loss: 0.0785 - accuracy: 0.9891
Epoch 162/200
184/184 [==============================] - 0s 38us/step - loss: 0.0703 - accuracy: 0.9946
Epoch 163/200
184/184 [==============================] - 0s 49us/step - loss: 0.0716 - accuracy: 0.9946
Epoch 164/200
184/184 [==============================] - 0s 49us/step - loss: 0.0682 - accuracy: 0.9946
Epoch 165/200
184/184 [==============================] - 0s 49us/step - loss: 0.0655 - accuracy: 0.9946
Epoch 166/200
184/184 [==============================] - 0s 49us/step - loss: 0.0760 - accuracy: 0.9891
Epoch 167/200
184/184 [==============================] - 0s 65us/step - loss: 0.0689 - accuracy: 0.9891
Epoch 168/200
184/184 [==============================] - 0s 54us/step - loss: 0.0627 - accuracy: 1.0000
Epoch 169/200
184/184 [==============================] - 0s 54us/step - loss: 0.0646 - accuracy: 0.9891
Epoch 170/200
184/184 [==============================] - 0s 60us/step - loss: 0.0617 - accuracy: 0.9946
Epoch 171/200
184/184 [==============================] - 0s 65us/step - loss: 0.0593 - accuracy: 1.0000
Epoch 172/200
184/184 [==============================] - 0s 49us/step - loss: 0.0589 - accuracy: 1.0000
Epoch 173/200
184/184 [==============================] - 0s 54us/step - loss: 0.0585 - accuracy: 0.9946
Epoch 174/200
184/184 [==============================] - 0s 43us/step - loss: 0.0656 - accuracy: 0.9946
Epoch 175/200
184/184 [==============================] - 0s 43us/step - loss: 0.0632 - accuracy: 0.9837
Epoch 176/200
184/184 [==============================] - 0s 43us/step - loss: 0.0596 - accuracy: 1.0000
Epoch 177/200
184/184 [==============================] - 0s 60us/step - loss: 0.0581 - accuracy: 0.9946
Epoch 178/200
184/184 [==============================] - 0s 49us/step - loss: 0.0542 - accuracy: 1.0000
Epoch 179/200
184/184 [==============================] - 0s 49us/step - loss: 0.0546 - accuracy: 1.0000
Epoch 180/200
184/184 [==============================] - 0s 49us/step - loss: 0.0525 - accuracy: 1.0000
Epoch 181/200
184/184 [==============================] - 0s 49us/step - loss: 0.0512 - accuracy: 1.0000
Epoch 182/200
184/184 [==============================] - 0s 49us/step - loss: 0.0494 - accuracy: 1.0000
Epoch 183/200
184/184 [==============================] - 0s 54us/step - loss: 0.0485 - accuracy: 1.0000
Epoch 184/200
184/184 [==============================] - 0s 38us/step - loss: 0.0453 - accuracy: 1.0000
Epoch 185/200
184/184 [==============================] - 0s 38us/step - loss: 0.0472 - accuracy: 1.0000
Epoch 186/200
184/184 [==============================] - 0s 38us/step - loss: 0.0458 - accuracy: 1.0000
Epoch 187/200
184/184 [==============================] - 0s 43us/step - loss: 0.0432 - accuracy: 1.0000
Epoch 188/200
184/184 [==============================] - 0s 43us/step - loss: 0.0437 - accuracy: 1.0000
Epoch 189/200
184/184 [==============================] - 0s 54us/step - loss: 0.0417 - accuracy: 1.0000
Epoch 190/200
184/184 [==============================] - 0s 49us/step - loss: 0.0419 - accuracy: 1.0000
Epoch 191/200
184/184 [==============================] - 0s 38us/step - loss: 0.0429 - accuracy: 1.0000
Epoch 192/200
184/184 [==============================] - ETA: 0s - loss: 0.0573 - accuracy: 1.00 - 0s 38us/step - loss: 0.0462 - accuracy: 1.0000
Epoch 193/200

In [122]:
pred_train= model.predict(y_train)
scores = model.evaluate(y_train, X_trains, verbose=0)
print('Accuracy on training data: {}% \n Error on training data: {}'.format(scores[1], 1 - scores[1]))   
 
pred_test= model.predict(y_test)
scores2 = model.evaluate(y_test, X_tests, verbose=0)
print('Accuracy on test data: {}% \n Error on test data: {}'.format(scores2[1], 1 - scores2[1]))

Accuracy on training data: 1.0%
 Error on training data: 0.0
Accuracy on test data: 0.869918704032898%
 Error on test data: 0.13008129596710205

In [123]:
dataTesting = pd.read_csv('data_nilai_mahasiswa.csv')
dataTesting.head()

,id,nim,nama,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,...,skor_peminatan_1,id_peminatan_2,skor_peminatan_2,peminatan,status,prioritas,skor_buang,status_lulus,created_at.1,updated_at.1
0,456,1202170258,PUTU DELA APSARI MERTADEWI,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,19.0,3,16.0,4,10,0,0.0,NaN,2020-01-01 18:58:20,2020-03-13 14:16:04
1,603,1202174065,MUHAMMAD FIKRI AZHAR,3.5,3.0,3.5,3.5,3.5,2.0,3.0,...,13.0,6,12.5,2,10,0,0.0,NaN,2020-01-01 19:00:11,2020-03-13 14:16:04
2,677,1202174208,YUNI ARIYANI ARIFIN,3.5,3.0,3.5,4.0,3.5,3.0,2.5,...,13.0,3,14.0,3,9,0,0.0,NaN,2020-01-01 19:05:00,2020-03-13 14:16:04
3,741,1202174372,IDELLIA MUTHIA NURBAISA,4.0,3.5,4.0,4.0,4.0,4.0,3.5,...,16.5,6,14.5,2,10,0,0.0,NaN,2020-01-01 19:11:34,2020-03-13 14:16:04
4,430,1202170180,IBRAM MOSZARDO,2.5,3.5,3.0,2.0,3.5,3.0,2.0,...,12.5,7,12.0,3,10,0,0.0,NaN,2020-01-01 19:11:53,2020-03-13 14:16:04

In [124]:
dataTesting.rename(columns={'id_peminatan_1':'Pilihan 1','id_peminatan_2':'Pilihan 2'}, inplace=True)
newDataTesting = dataTesting.drop(columns={
    "id",
    "skor_peminatan_1",
    "skor_peminatan_2",
    "status","prioritas",
    "skor_buang",
    'created_at.1',
    'updated_at.1',
    'created_at',
    'updated_at',
    'id.1',
    'id_users',
    'status_lulus',
    'peminatan'
},axis=1)
newDataTesting.head()

,nim,nama,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,...,SCM,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Pilihan 1,Pilihan 2
0,1202170258,PUTU DELA APSARI MERTADEWI,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,4.0,4.0,4.0,4.0,3.5,4.0,3.0,3.5,4,3
1,1202174065,MUHAMMAD FIKRI AZHAR,3.5,3.0,3.5,3.5,3.5,2.0,3.0,3.5,...,3.5,3.5,3.0,2.0,4.0,3.0,2.0,3.5,2,6
2,1202174208,YUNI ARIYANI ARIFIN,3.5,3.0,3.5,4.0,3.5,3.0,2.5,4.0,...,0.0,3.5,3.5,2.0,3.0,3.5,3.0,3.5,6,3
3,1202174372,IDELLIA MUTHIA NURBAISA,4.0,3.5,4.0,4.0,4.0,4.0,3.5,4.0,...,4.0,3.5,3.5,3.0,4.0,3.5,3.0,4.0,2,6
4,1202170180,IBRAM MOSZARDO,2.5,3.5,3.0,2.0,3.5,3.0,2.0,3.5,...,2.0,3.5,3.5,3.0,3.5,4.0,3.0,2.5,3,7

In [125]:
dataTestingPredictor = newDataTesting[predictors]
dataTestingHasil = model.predict_classes(dataTestingPredictor)

newDataTesting["Peminatan"] = dataTestingHasil
newDataTesting.rename(columns={'nim':'NIM'}, inplace=True)
newDataTesting.drop(columns="nama",axis=1).head()

,NIM,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,Strukdat,...,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Pilihan 1,Pilihan 2,Peminatan
0,1202170258,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,4.0,4.0,4.0,3.5,4.0,3.0,3.5,4,3,7
1,1202174065,3.5,3.0,3.5,3.5,3.5,2.0,3.0,3.5,3.5,...,3.5,3.0,2.0,4.0,3.0,2.0,3.5,2,6,3
2,1202174208,3.5,3.0,3.5,4.0,3.5,3.0,2.5,4.0,3.5,...,3.5,3.5,2.0,3.0,3.5,3.0,3.5,6,3,7
3,1202174372,4.0,3.5,4.0,4.0,4.0,4.0,3.5,4.0,4.0,...,3.5,3.5,3.0,4.0,3.5,3.0,4.0,2,6,3
4,1202170180,2.5,3.5,3.0,2.0,3.5,3.0,2.0,3.5,3.5,...,3.5,3.5,3.0,3.5,4.0,3.0,2.5,3,7,7

In [ ]:
newDataTesting.to_csv('201-forecast-cnn.csv')