In [108]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential, Model
from keras.layers import Input, Dense
from keras.utils import to_categorical 

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

df = pd.read_csv('datamahasiswa2015.csv')
df.head()

,No,NIM,OOP,RPB,RPL,PI,APSI,WEB,Statistik,Matdis,...,Desjar,KSI,Pilihan 1,Peminatan,MP1,MP2,MP3,Status,Tanggal Lulus,Keterangan
0,1,1202150001,2.0,3.5,0.0,3.5,3.0,3.0,2.0,2.0,...,3.5,2.0,TECHNO,TECHNO,3.5,3.0,3.0,GRADUATED,30/08/19,TEPAT WAKTU
1,2,1202150002,3.0,3.5,3.5,4.0,3.0,3.0,3.5,3.5,...,3.5,3.5,ERP,ERP,4.0,4.0,3.5,GRADUATED,10/07/19,TEPAT WAKTU
2,3,1202150003,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,OUT,OUT,0.0,0.0,0.0,RESIGN,OUT,TIDAK TEPAT WAKTU
3,4,1202150004,3.5,4.0,3.5,4.0,3.5,4.0,3.5,3.5,...,4.0,4.0,EAD,EAD,3.5,4.0,2.0,GRADUATED,05/07/19,TEPAT WAKTU
4,5,1202150005,2.0,2.5,2.0,1.0,3.5,1.0,2.0,1.0,...,2.0,1.0,OUT,OUT,0.0,0.0,0.0,STUDENT,OUT,TIDAK TEPAT WAKTU

In [109]:
new_class = [0] * len(df['Peminatan'])
for index, row in df.iterrows() :
    if row["Peminatan"] == "TECHNO" :
        new_class[index] = 1
    elif row['Peminatan'] == "EAD" :
        new_class[index] = 2
    elif row['Peminatan'] == "EDM" :
        new_class[index] = 3
    elif row['Peminatan'] == "ERP" :
        new_class[index] = 4
    elif row['Peminatan'] == "EA" :
        new_class[index] = 5
    elif row['Peminatan'] == "EIM" :
        new_class[index] = 6
    elif row['Peminatan'] == "ISM" :
        new_class[index] = 7
df["Peminatan"] = new_class
df.head()

,No,NIM,OOP,RPB,RPL,PI,APSI,WEB,Statistik,Matdis,...,Desjar,KSI,Pilihan 1,Peminatan,MP1,MP2,MP3,Status,Tanggal Lulus,Keterangan
0,1,1202150001,2.0,3.5,0.0,3.5,3.0,3.0,2.0,2.0,...,3.5,2.0,TECHNO,1,3.5,3.0,3.0,GRADUATED,30/08/19,TEPAT WAKTU
1,2,1202150002,3.0,3.5,3.5,4.0,3.0,3.0,3.5,3.5,...,3.5,3.5,ERP,4,4.0,4.0,3.5,GRADUATED,10/07/19,TEPAT WAKTU
2,3,1202150003,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,OUT,0,0.0,0.0,0.0,RESIGN,OUT,TIDAK TEPAT WAKTU
3,4,1202150004,3.5,4.0,3.5,4.0,3.5,4.0,3.5,3.5,...,4.0,4.0,EAD,2,3.5,4.0,2.0,GRADUATED,05/07/19,TEPAT WAKTU
4,5,1202150005,2.0,2.5,2.0,1.0,3.5,1.0,2.0,1.0,...,2.0,1.0,OUT,0,0.0,0.0,0.0,STUDENT,OUT,TIDAK TEPAT WAKTU

In [110]:
#change column in dataframe
dfNew = df[df.Peminatan != 0]
dfNew = dfNew.drop(['Status','Keterangan','Pilihan 1','Tanggal Lulus','No','NIM','MP1','MP2','MP3','RPL'],axis=1)
dfNew.rename(columns={'KSI':'Manprosi'}, inplace=True)
dfNew.head()

,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,Strukdat,SE,PO,SCM,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Peminatan
0,2.0,3.5,3.5,3.0,3.0,2.0,2.0,3.0,2.0,3.5,3.5,3.0,3.5,2.0,2.0,2.5,3.5,3.5,2.0,1
1,3.0,3.5,4.0,3.0,3.0,3.5,3.5,3.5,3.0,3.5,4.0,4.0,3.0,3.5,2.5,3.5,3.5,3.5,3.5,4
3,3.5,4.0,4.0,3.5,4.0,3.5,3.5,3.5,4.0,3.0,4.0,4.0,3.0,3.5,3.5,3.5,3.5,4.0,4.0,2
6,3.5,2.0,3.0,3.5,2.5,3.5,2.5,2.0,3.5,3.5,3.5,3.5,2.5,3.5,3.5,3.5,3.0,4.0,4.0,6
7,2.5,3.0,3.0,3.5,3.5,2.0,1.0,3.0,2.0,4.0,3.5,2.5,2.5,2.0,3.0,3.5,3.5,3.5,2.5,4

In [111]:
#select target column and predictor column
target = ["Peminatan"]
predictors = list(set(list(dfNew.columns))-set(target))
print(predictors)

['Statistik', 'Matdis', 'Manprosi', 'SE', 'MSDM', 'EA', 'Strukdat', 'SCM', 'OOP', 'PO', 'Sisop', 'PI', 'Alpro', 'RPB', 'WEB', 'Desjar', 'Basdat', 'APSI', 'Manjarkom']

In [112]:
#get predictor data
dfNew[predictors] = dfNew[predictors]/dfNew[predictors].max()
dfNew[predictors].head()

,Statistik,Matdis,Manprosi,SE,MSDM,EA,Strukdat,SCM,OOP,PO,Sisop,PI,Alpro,RPB,WEB,Desjar,Basdat,APSI,Manjarkom
0,0.500,0.500,0.500,0.875,0.875,0.875,0.500,0.750,0.500,0.875,0.625,0.875,0.750,0.875,0.750,0.875,0.500,0.750,0.500
1,0.875,0.875,0.875,0.875,0.875,0.750,0.750,1.000,0.750,1.000,0.875,1.000,0.875,0.875,0.750,0.875,0.875,0.750,0.625
3,0.875,0.875,1.000,0.750,0.875,0.750,1.000,1.000,0.875,1.000,0.875,1.000,0.875,1.000,1.000,1.000,0.875,0.875,0.875
6,0.875,0.625,1.000,0.875,0.750,0.625,0.875,0.875,0.875,0.875,0.875,0.750,0.500,0.500,0.625,1.000,0.875,0.875,0.875
7,0.500,0.250,0.625,1.000,0.875,0.625,0.500,0.625,0.625,0.875,0.875,0.750,0.750,0.750,0.875,0.875,0.500,0.875,0.750

In [113]:
X = dfNew[target]
y = dfNew[predictors]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.40, random_state=60)
print(X_train.shape)
print(y_train.shape)
print(X_test.head())
print(y_test.shape)

(188, 1)
(188, 19)
     Peminatan
223          6
253          5
297          4
278          5
266          5
(126, 19)

In [114]:
X_trains = to_categorical(X_train)
X_tests = to_categorical(X_test)

print(X_trains.shape)

(188, 8)

In [115]:
model = Sequential()
model.add(Dense(128, activation='relu', input_dim=19))
model.add(Dense(64, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(8, activation='softmax'))

# Compile the model
model.compile(optimizer='adam', 
              loss='categorical_crossentropy', 
              metrics=['accuracy'])

In [116]:
model.fit(y_train, X_trains, epochs=200)

Epoch 1/200
188/188 [==============================] - 0s 638us/step - loss: 2.0367 - accuracy: 0.1436
Epoch 2/200
188/188 [==============================] - 0s 43us/step - loss: 1.9242 - accuracy: 0.2128
Epoch 3/200
188/188 [==============================] - 0s 43us/step - loss: 1.8629 - accuracy: 0.2660
Epoch 4/200
188/188 [==============================] - 0s 42us/step - loss: 1.8445 - accuracy: 0.2660
Epoch 5/200
188/188 [==============================] - 0s 43us/step - loss: 1.8359 - accuracy: 0.2606
Epoch 6/200
188/188 [==============================] - 0s 85us/step - loss: 1.8278 - accuracy: 0.2500
Epoch 7/200
188/188 [==============================] - 0s 85us/step - loss: 1.8136 - accuracy: 0.2766
Epoch 8/200
188/188 [==============================] - 0s 85us/step - loss: 1.8127 - accuracy: 0.2660
Epoch 9/200
188/188 [==============================] - 0s 85us/step - loss: 1.7974 - accuracy: 0.2926
Epoch 10/200
188/188 [==============================] - 0s 85us/step - loss: 1.7957 - accuracy: 0.3032
Epoch 11/200
188/188 [==============================] - 0s 43us/step - loss: 1.7905 - accuracy: 0.2553
Epoch 12/200
188/188 [==============================] - 0s 85us/step - loss: 1.7796 - accuracy: 0.2926
Epoch 13/200
188/188 [==============================] - 0s 43us/step - loss: 1.7773 - accuracy: 0.3032
Epoch 14/200
188/188 [==============================] - 0s 85us/step - loss: 1.7712 - accuracy: 0.2819
Epoch 15/200
188/188 [==============================] - 0s 42us/step - loss: 1.7596 - accuracy: 0.3032
Epoch 16/200
188/188 [==============================] - 0s 42us/step - loss: 1.7522 - accuracy: 0.3245
Epoch 17/200
188/188 [==============================] - 0s 42us/step - loss: 1.7446 - accuracy: 0.3191
Epoch 18/200
188/188 [==============================] - 0s 43us/step - loss: 1.7361 - accuracy: 0.3457
Epoch 19/200
188/188 [==============================] - 0s 43us/step - loss: 1.7524 - accuracy: 0.3191
Epoch 20/200
188/188 [==============================] - 0s 85us/step - loss: 1.7269 - accuracy: 0.3404
Epoch 21/200
188/188 [==============================] - 0s 43us/step - loss: 1.7138 - accuracy: 0.3298
Epoch 22/200
188/188 [==============================] - 0s 85us/step - loss: 1.7065 - accuracy: 0.3298
Epoch 23/200
188/188 [==============================] - 0s 43us/step - loss: 1.7019 - accuracy: 0.3617
Epoch 24/200
188/188 [==============================] - 0s 43us/step - loss: 1.7024 - accuracy: 0.3404
Epoch 25/200
188/188 [==============================] - 0s 85us/step - loss: 1.6787 - accuracy: 0.3564
Epoch 26/200
188/188 [==============================] - 0s 85us/step - loss: 1.6824 - accuracy: 0.3085
Epoch 27/200
188/188 [==============================] - 0s 85us/step - loss: 1.7141 - accuracy: 0.3351
Epoch 28/200
188/188 [==============================] - 0s 43us/step - loss: 1.6678 - accuracy: 0.3617
Epoch 29/200
188/188 [==============================] - 0s 85us/step - loss: 1.6637 - accuracy: 0.3351
Epoch 30/200
188/188 [==============================] - 0s 43us/step - loss: 1.6682 - accuracy: 0.3511
Epoch 31/200
188/188 [==============================] - 0s 85us/step - loss: 1.6453 - accuracy: 0.3457
Epoch 32/200
188/188 [==============================] - 0s 42us/step - loss: 1.6248 - accuracy: 0.3936
Epoch 33/200
188/188 [==============================] - 0s 43us/step - loss: 1.6092 - accuracy: 0.3830
Epoch 34/200
188/188 [==============================] - 0s 43us/step - loss: 1.6002 - accuracy: 0.3777
Epoch 35/200
188/188 [==============================] - 0s 43us/step - loss: 1.5921 - accuracy: 0.4149
Epoch 36/200
188/188 [==============================] - 0s 43us/step - loss: 1.5799 - accuracy: 0.3564
Epoch 37/200
188/188 [==============================] - 0s 85us/step - loss: 1.5662 - accuracy: 0.4096
Epoch 38/200
188/188 [==============================] - 0s 43us/step - loss: 1.5662 - accuracy: 0.3830
Epoch 39/200
188/188 [==============================] - 0s 43us/step - loss: 1.5354 - accuracy: 0.3936
Epoch 40/200
188/188 [==============================] - 0s 43us/step - loss: 1.5337 - accuracy: 0.4043
Epoch 41/200
188/188 [==============================] - 0s 85us/step - loss: 1.5245 - accuracy: 0.4096
Epoch 42/200
188/188 [==============================] - 0s 43us/step - loss: 1.5105 - accuracy: 0.3989
Epoch 43/200
188/188 [==============================] - 0s 43us/step - loss: 1.4996 - accuracy: 0.3936
Epoch 44/200
188/188 [==============================] - 0s 43us/step - loss: 1.4965 - accuracy: 0.4149
Epoch 45/200
188/188 [==============================] - 0s 43us/step - loss: 1.5030 - accuracy: 0.4043
Epoch 46/200
188/188 [==============================] - 0s 43us/step - loss: 1.4726 - accuracy: 0.4255
Epoch 47/200
188/188 [==============================] - 0s 43us/step - loss: 1.4680 - accuracy: 0.4255
Epoch 48/200
188/188 [==============================] - 0s 43us/step - loss: 1.4621 - accuracy: 0.4362
Epoch 49/200
188/188 [==============================] - 0s 43us/step - loss: 1.4690 - accuracy: 0.4255
Epoch 50/200
188/188 [==============================] - 0s 42us/step - loss: 1.4417 - accuracy: 0.4468
Epoch 51/200
188/188 [==============================] - 0s 43us/step - loss: 1.4380 - accuracy: 0.4309
Epoch 52/200
188/188 [==============================] - 0s 47us/step - loss: 1.4309 - accuracy: 0.4362
Epoch 53/200
188/188 [==============================] - 0s 97us/step - loss: 1.4134 - accuracy: 0.4362
Epoch 54/200
188/188 [==============================] - 0s 11us/step - loss: 1.4194 - accuracy: 0.4734
Epoch 55/200
188/188 [==============================] - 0s 43us/step - loss: 1.4231 - accuracy: 0.4681
Epoch 56/200
188/188 [==============================] - 0s 43us/step - loss: 1.3862 - accuracy: 0.4521
Epoch 57/200
188/188 [==============================] - 0s 42us/step - loss: 1.3970 - accuracy: 0.4681
Epoch 58/200
188/188 [==============================] - 0s 43us/step - loss: 1.3797 - accuracy: 0.4521
Epoch 59/200
188/188 [==============================] - 0s 42us/step - loss: 1.3857 - accuracy: 0.4574
Epoch 60/200
188/188 [==============================] - ETA: 0s - loss: 1.5063 - accuracy: 0.37 - 0s 43us/step - loss: 1.3818 - accuracy: 0.4947
Epoch 61/200
188/188 [==============================] - 0s 43us/step - loss: 1.3647 - accuracy: 0.4787
Epoch 62/200
188/188 [==============================] - 0s 42us/step - loss: 1.3616 - accuracy: 0.4734
Epoch 63/200
188/188 [==============================] - 0s 43us/step - loss: 1.3650 - accuracy: 0.4628
Epoch 64/200
188/188 [==============================] - 0s 43us/step - loss: 1.3537 - accuracy: 0.4840
Epoch 65/200
188/188 [==============================] - 0s 43us/step - loss: 1.3690 - accuracy: 0.4840
Epoch 66/200
188/188 [==============================] - 0s 43us/step - loss: 1.3402 - accuracy: 0.5000
Epoch 67/200
188/188 [==============================] - 0s 42us/step - loss: 1.3201 - accuracy: 0.5160
Epoch 68/200
188/188 [==============================] - 0s 43us/step - loss: 1.3244 - accuracy: 0.5053
Epoch 69/200
188/188 [==============================] - 0s 43us/step - loss: 1.3156 - accuracy: 0.5319
Epoch 70/200
188/188 [==============================] - 0s 43us/step - loss: 1.3144 - accuracy: 0.5319
Epoch 71/200
188/188 [==============================] - 0s 43us/step - loss: 1.3015 - accuracy: 0.5319
Epoch 72/200
188/188 [==============================] - 0s 43us/step - loss: 1.3042 - accuracy: 0.5160
Epoch 73/200
188/188 [==============================] - 0s 85us/step - loss: 1.2947 - accuracy: 0.5372
Epoch 74/200
188/188 [==============================] - 0s 43us/step - loss: 1.2974 - accuracy: 0.5213
Epoch 75/200
188/188 [==============================] - 0s 43us/step - loss: 1.3027 - accuracy: 0.5426
Epoch 76/200
188/188 [==============================] - 0s 85us/step - loss: 1.2843 - accuracy: 0.5319
Epoch 77/200
188/188 [==============================] - 0s 43us/step - loss: 1.2760 - accuracy: 0.5372
Epoch 78/200
188/188 [==============================] - 0s 85us/step - loss: 1.2886 - accuracy: 0.5266
Epoch 79/200
188/188 [==============================] - 0s 43us/step - loss: 1.2812 - accuracy: 0.5319
Epoch 80/200
188/188 [==============================] - 0s 43us/step - loss: 1.2770 - accuracy: 0.5479
Epoch 81/200
188/188 [==============================] - 0s 85us/step - loss: 1.2904 - accuracy: 0.5213
Epoch 82/200
188/188 [==============================] - 0s 43us/step - loss: 1.2953 - accuracy: 0.5106
Epoch 83/200
188/188 [==============================] - 0s 42us/step - loss: 1.3254 - accuracy: 0.5266
Epoch 84/200
188/188 [==============================] - 0s 43us/step - loss: 1.2414 - accuracy: 0.5532
Epoch 85/200
188/188 [==============================] - 0s 43us/step - loss: 1.2911 - accuracy: 0.5319
Epoch 86/200
188/188 [==============================] - 0s 43us/step - loss: 1.2581 - accuracy: 0.5319
Epoch 87/200
188/188 [==============================] - 0s 43us/step - loss: 1.2624 - accuracy: 0.5319
Epoch 88/200
188/188 [==============================] - 0s 85us/step - loss: 1.2415 - accuracy: 0.5691
Epoch 89/200
188/188 [==============================] - 0s 43us/step - loss: 1.2261 - accuracy: 0.5479
Epoch 90/200
188/188 [==============================] - 0s 43us/step - loss: 1.2271 - accuracy: 0.5745
Epoch 91/200
188/188 [==============================] - 0s 43us/step - loss: 1.2312 - accuracy: 0.5798
Epoch 92/200
188/188 [==============================] - 0s 0us/step - loss: 1.2120 - accuracy: 0.5638
Epoch 93/200
188/188 [==============================] - 0s 43us/step - loss: 1.2149 - accuracy: 0.5638
Epoch 94/200
188/188 [==============================] - ETA: 0s - loss: 1.0817 - accuracy: 0.59 - 0s 43us/step - loss: 1.2348 - accuracy: 0.5532
Epoch 95/200
188/188 [==============================] - 0s 43us/step - loss: 1.2337 - accuracy: 0.5638
Epoch 96/200
188/188 [==============================] - 0s 43us/step - loss: 1.1994 - accuracy: 0.5745
Epoch 97/200
188/188 [==============================] - 0s 43us/step - loss: 1.2028 - accuracy: 0.5638
Epoch 98/200
188/188 [==============================] - 0s 42us/step - loss: 1.2092 - accuracy: 0.5638
Epoch 99/200
188/188 [==============================] - 0s 43us/step - loss: 1.2147 - accuracy: 0.5479
Epoch 100/200
188/188 [==============================] - 0s 42us/step - loss: 1.1958 - accuracy: 0.5745
Epoch 101/200
188/188 [==============================] - 0s 85us/step - loss: 1.1746 - accuracy: 0.5904
Epoch 102/200
188/188 [==============================] - 0s 43us/step - loss: 1.1754 - accuracy: 0.5745
Epoch 103/200
188/188 [==============================] - 0s 85us/step - loss: 1.2026 - accuracy: 0.5904
Epoch 104/200
188/188 [==============================] - 0s 85us/step - loss: 1.1896 - accuracy: 0.5745
Epoch 105/200
188/188 [==============================] - 0s 42us/step - loss: 1.1770 - accuracy: 0.5745
Epoch 106/200
188/188 [==============================] - 0s 43us/step - loss: 1.1690 - accuracy: 0.5851
Epoch 107/200
188/188 [==============================] - 0s 85us/step - loss: 1.1588 - accuracy: 0.5904
Epoch 108/200
188/188 [==============================] - 0s 43us/step - loss: 1.1817 - accuracy: 0.5691
Epoch 109/200
188/188 [==============================] - 0s 85us/step - loss: 1.2070 - accuracy: 0.5479
Epoch 110/200
188/188 [==============================] - 0s 43us/step - loss: 1.2014 - accuracy: 0.5426
Epoch 111/200
188/188 [==============================] - 0s 42us/step - loss: 1.1840 - accuracy: 0.5638
Epoch 112/200
188/188 [==============================] - 0s 43us/step - loss: 1.1601 - accuracy: 0.5745
Epoch 113/200
188/188 [==============================] - 0s 85us/step - loss: 1.1434 - accuracy: 0.6011
Epoch 114/200
188/188 [==============================] - 0s 43us/step - loss: 1.1467 - accuracy: 0.6011
Epoch 115/200
188/188 [==============================] - 0s 43us/step - loss: 1.1344 - accuracy: 0.5957
Epoch 116/200
188/188 [==============================] - 0s 43us/step - loss: 1.1258 - accuracy: 0.5957
Epoch 117/200
188/188 [==============================] - 0s 85us/step - loss: 1.1451 - accuracy: 0.5957
Epoch 118/200
188/188 [==============================] - 0s 43us/step - loss: 1.1302 - accuracy: 0.5904
Epoch 119/200
188/188 [==============================] - 0s 43us/step - loss: 1.1658 - accuracy: 0.5479
Epoch 120/200
188/188 [==============================] - 0s 43us/step - loss: 1.1686 - accuracy: 0.5957
Epoch 121/200
188/188 [==============================] - 0s 85us/step - loss: 1.1503 - accuracy: 0.5426
Epoch 122/200
188/188 [==============================] - 0s 43us/step - loss: 1.1967 - accuracy: 0.5798
Epoch 123/200
188/188 [==============================] - 0s 43us/step - loss: 1.1598 - accuracy: 0.5638
Epoch 124/200
188/188 [==============================] - 0s 43us/step - loss: 1.1278 - accuracy: 0.6011
Epoch 125/200
188/188 [==============================] - 0s 43us/step - loss: 1.1134 - accuracy: 0.6011
Epoch 126/200
188/188 [==============================] - 0s 43us/step - loss: 1.1284 - accuracy: 0.5851
Epoch 127/200
188/188 [==============================] - 0s 85us/step - loss: 1.1201 - accuracy: 0.6170
Epoch 128/200
188/188 [==============================] - 0s 43us/step - loss: 1.0960 - accuracy: 0.6170
Epoch 129/200
188/188 [==============================] - 0s 85us/step - loss: 1.1139 - accuracy: 0.5851
Epoch 130/200
188/188 [==============================] - 0s 43us/step - loss: 1.0908 - accuracy: 0.6223
Epoch 131/200
188/188 [==============================] - 0s 85us/step - loss: 1.1448 - accuracy: 0.5745
Epoch 132/200
188/188 [==============================] - 0s 43us/step - loss: 1.0957 - accuracy: 0.5957
Epoch 133/200
188/188 [==============================] - 0s 43us/step - loss: 1.0812 - accuracy: 0.6117
Epoch 134/200
188/188 [==============================] - 0s 85us/step - loss: 1.0696 - accuracy: 0.6223
Epoch 135/200
188/188 [==============================] - ETA: 0s - loss: 0.9725 - accuracy: 0.62 - 0s 43us/step - loss: 1.0962 - accuracy: 0.6117
Epoch 136/200
188/188 [==============================] - 0s 91us/step - loss: 1.0944 - accuracy: 0.5851
Epoch 137/200
188/188 [==============================] - 0s 43us/step - loss: 1.0972 - accuracy: 0.5904
Epoch 138/200
188/188 [==============================] - 0s 43us/step - loss: 1.0704 - accuracy: 0.6117
Epoch 139/200
188/188 [==============================] - 0s 43us/step - loss: 1.0699 - accuracy: 0.6489
Epoch 140/200
188/188 [==============================] - 0s 85us/step - loss: 1.0956 - accuracy: 0.6064
Epoch 141/200
188/188 [==============================] - 0s 43us/step - loss: 1.0670 - accuracy: 0.6383
Epoch 142/200
188/188 [==============================] - 0s 85us/step - loss: 1.0737 - accuracy: 0.6277
Epoch 143/200
188/188 [==============================] - 0s 43us/step - loss: 1.0627 - accuracy: 0.6117
Epoch 144/200
188/188 [==============================] - 0s 85us/step - loss: 1.0601 - accuracy: 0.6330
Epoch 145/200
188/188 [==============================] - 0s 43us/step - loss: 1.0761 - accuracy: 0.6117
Epoch 146/200
188/188 [==============================] - 0s 43us/step - loss: 1.0737 - accuracy: 0.6543
Epoch 147/200
188/188 [==============================] - 0s 43us/step - loss: 1.0263 - accuracy: 0.6383
Epoch 148/200
188/188 [==============================] - 0s 43us/step - loss: 1.0547 - accuracy: 0.6223
Epoch 149/200
188/188 [==============================] - 0s 43us/step - loss: 1.0792 - accuracy: 0.6383
Epoch 150/200
188/188 [==============================] - 0s 42us/step - loss: 1.0401 - accuracy: 0.6755
Epoch 151/200
188/188 [==============================] - 0s 43us/step - loss: 1.0337 - accuracy: 0.6277
Epoch 152/200
188/188 [==============================] - 0s 85us/step - loss: 1.0545 - accuracy: 0.6223
Epoch 153/200
188/188 [==============================] - 0s 43us/step - loss: 1.0459 - accuracy: 0.6170
Epoch 154/200
188/188 [==============================] - 0s 43us/step - loss: 1.0243 - accuracy: 0.6543
Epoch 155/200
188/188 [==============================] - 0s 43us/step - loss: 1.0348 - accuracy: 0.6543
Epoch 156/200
188/188 [==============================] - 0s 85us/step - loss: 1.0195 - accuracy: 0.6543
Epoch 157/200
188/188 [==============================] - 0s 43us/step - loss: 1.0130 - accuracy: 0.6755
Epoch 158/200
188/188 [==============================] - 0s 43us/step - loss: 1.0114 - accuracy: 0.6543
Epoch 159/200
188/188 [==============================] - 0s 85us/step - loss: 1.0021 - accuracy: 0.6649
Epoch 160/200
188/188 [==============================] - 0s 85us/step - loss: 1.0056 - accuracy: 0.6223
Epoch 161/200
188/188 [==============================] - 0s 43us/step - loss: 1.0170 - accuracy: 0.6596
Epoch 162/200
188/188 [==============================] - 0s 43us/step - loss: 1.0133 - accuracy: 0.6436
Epoch 163/200
188/188 [==============================] - 0s 85us/step - loss: 1.0247 - accuracy: 0.6596
Epoch 164/200
188/188 [==============================] - 0s 43us/step - loss: 1.0503 - accuracy: 0.5851
Epoch 165/200
188/188 [==============================] - 0s 43us/step - loss: 0.9965 - accuracy: 0.6915
Epoch 166/200
188/188 [==============================] - 0s 43us/step - loss: 1.0676 - accuracy: 0.6064
Epoch 167/200
188/188 [==============================] - 0s 43us/step - loss: 1.0742 - accuracy: 0.6170
Epoch 168/200
188/188 [==============================] - 0s 85us/step - loss: 1.0185 - accuracy: 0.6277
Epoch 169/200
188/188 [==============================] - 0s 43us/step - loss: 0.9796 - accuracy: 0.6755
Epoch 170/200
188/188 [==============================] - 0s 85us/step - loss: 0.9869 - accuracy: 0.6383
Epoch 171/200
188/188 [==============================] - 0s 42us/step - loss: 0.9818 - accuracy: 0.6755
Epoch 172/200
188/188 [==============================] - 0s 43us/step - loss: 0.9655 - accuracy: 0.6702
Epoch 173/200
188/188 [==============================] - ETA: 0s - loss: 0.8435 - accuracy: 0.62 - 0s 43us/step - loss: 1.0065 - accuracy: 0.6277
Epoch 174/200
188/188 [==============================] - 0s 85us/step - loss: 1.0032 - accuracy: 0.6489
Epoch 175/200
188/188 [==============================] - 0s 43us/step - loss: 0.9981 - accuracy: 0.6543
Epoch 176/200
188/188 [==============================] - 0s 43us/step - loss: 0.9683 - accuracy: 0.6596
Epoch 177/200
188/188 [==============================] - 0s 43us/step - loss: 0.9890 - accuracy: 0.6383
Epoch 178/200
188/188 [==============================] - 0s 43us/step - loss: 0.9582 - accuracy: 0.6596
Epoch 179/200
188/188 [==============================] - 0s 85us/step - loss: 0.9581 - accuracy: 0.6489
Epoch 180/200
188/188 [==============================] - 0s 43us/step - loss: 0.9583 - accuracy: 0.6649
Epoch 181/200
188/188 [==============================] - 0s 43us/step - loss: 0.9653 - accuracy: 0.6543
Epoch 182/200
188/188 [==============================] - 0s 42us/step - loss: 0.9724 - accuracy: 0.6862
Epoch 183/200
188/188 [==============================] - 0s 85us/step - loss: 0.9741 - accuracy: 0.6596
Epoch 184/200
188/188 [==============================] - 0s 43us/step - loss: 0.9506 - accuracy: 0.7074
Epoch 185/200
188/188 [==============================] - 0s 85us/step - loss: 0.9697 - accuracy: 0.6489
Epoch 186/200
188/188 [==============================] - 0s 43us/step - loss: 0.9463 - accuracy: 0.6649
Epoch 187/200
188/188 [==============================] - 0s 85us/step - loss: 0.9368 - accuracy: 0.6915
Epoch 188/200
188/188 [==============================] - 0s 85us/step - loss: 0.9450 - accuracy: 0.6489
Epoch 189/200
188/188 [==============================] - 0s 43us/step - loss: 0.9410 - accuracy: 0.6862
Epoch 190/200
188/188 [==============================] - 0s 43us/step - loss: 0.9538 - accuracy: 0.6383
Epoch 191/200
188/188 [==============================] - 0s 43us/step - loss: 0.9755 - accuracy: 0.6543
Epoch 192/200

In [117]:
pred_train= model.predict(y_train)
scores = model.evaluate(y_train, X_trains, verbose=0)
print('Accuracy on training data: {}% \n Error on training data: {}'.format(scores[1], 1 - scores[1]))   
 
pred_test= model.predict(y_test)
scores2 = model.evaluate(y_test, X_tests, verbose=0)
print('Accuracy on test data: {}% \n Error on test data: {}'.format(scores2[1], 1 - scores2[1]))

Accuracy on training data: 0.6808510422706604%
 Error on training data: 0.3191489577293396
Accuracy on test data: 0.4126984179019928%
 Error on test data: 0.5873015820980072

In [118]:
dataTesting = pd.read_excel('Nilai Master Pipe.xlsx')
dataTesting.head()

,nim,nama,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,...,SE,PO,SCM,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi
0,1202170006,SHINTA EKA RISA SINURAYA,4.0,3.5,2.0,2.0,3.5,4.0,2.5,3.5,...,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.5,3.5,2.5
1,1202170010,COKORDA AGUNG JAYA LAKSMANA PRAKASA,4.0,3.5,4.0,2.5,4.0,3.0,4.0,3.0,...,4.0,3.5,3.0,3.5,3.5,3.5,3.0,3.5,3.5,3.0
2,1202170011,RAFIF FAKHRI RAMADHAN,4.0,3.0,3.5,2.0,3.5,3.5,3.5,3.5,...,4.0,3.5,3.5,3.5,4.0,3.5,3.0,4.0,3.5,3.0
3,1202170015,M IKHSAN PRATAMA P,4.0,3.5,3.5,3.5,3.5,3.5,3.5,4.0,...,3.5,2.5,3.5,3.0,3.5,3.0,3.5,3.5,3.5,2.5
4,1202170018,DINDA SONIA TIARA,2.0,2.5,3.0,3.5,3.5,2.5,2.5,3.0,...,3.5,3.5,2.5,3.5,3.0,2.5,3.0,3.5,2.0,3.5

In [120]:
dataTestingFilter = dataTesting[predictors]
dataTestingHasil = model.predict_classes(dataTestingFilter)

dataTesting["Peminatan"] = dataTestingHasil
dataTesting.rename(columns={'nim':'NIM'}, inplace=True)
dataTesting.drop(columns="nama",axis=1).head()

,NIM,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,Strukdat,...,PO,SCM,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Peminatan
0,1202170006,4.0,3.5,2.0,2.0,3.5,4.0,2.5,3.5,2.5,...,3.0,3.0,3.0,3.0,3.0,3.0,3.5,3.5,2.5,3
1,1202170010,4.0,3.5,4.0,2.5,4.0,3.0,4.0,3.0,4.0,...,3.5,3.0,3.5,3.5,3.5,3.0,3.5,3.5,3.0,2
2,1202170011,4.0,3.0,3.5,2.0,3.5,3.5,3.5,3.5,4.0,...,3.5,3.5,3.5,4.0,3.5,3.0,4.0,3.5,3.0,2
3,1202170015,4.0,3.5,3.5,3.5,3.5,3.5,3.5,4.0,4.0,...,2.5,3.5,3.0,3.5,3.0,3.5,3.5,3.5,2.5,1
4,1202170018,2.0,2.5,3.0,3.5,3.5,2.5,2.5,3.0,3.5,...,3.5,2.5,3.5,3.0,2.5,3.0,3.5,2.0,3.5,4

In [121]:
pred_test= model.predict(dataTestingFilter)
print('Accuracy on test data: {}% \n Error on test data: {}'.format(scores2[1], 1 - scores2[1]))

Accuracy on test data: 0.4126984179019928%
 Error on test data: 0.5873015820980072

In [122]:
new_class = [0] * len(dataTesting['Peminatan'])
for index, row in dataTesting.iterrows() :
    if row["Peminatan"] == 1 :
        new_class[index] = "TECHNO"
    elif row['Peminatan'] == 2 :
        new_class[index] = "EAD"
    elif row['Peminatan'] == 3 :
        new_class[index] = "EDM"
    elif row['Peminatan'] == 4 :
        new_class[index] = "ERP"
    elif row['Peminatan'] == 5 :
        new_class[index] = "EA"
    elif row['Peminatan'] == 6 :
        new_class[index] = "EIM"
    elif row['Peminatan'] == 7 :
        new_class[index] = "ISM"
dataTesting["Peminatan"] = new_class
dataTesting.head()

,NIM,nama,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,...,PO,SCM,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Peminatan
0,1202170006,SHINTA EKA RISA SINURAYA,4.0,3.5,2.0,2.0,3.5,4.0,2.5,3.5,...,3.0,3.0,3.0,3.0,3.0,3.0,3.5,3.5,2.5,EDM
1,1202170010,COKORDA AGUNG JAYA LAKSMANA PRAKASA,4.0,3.5,4.0,2.5,4.0,3.0,4.0,3.0,...,3.5,3.0,3.5,3.5,3.5,3.0,3.5,3.5,3.0,EAD
2,1202170011,RAFIF FAKHRI RAMADHAN,4.0,3.0,3.5,2.0,3.5,3.5,3.5,3.5,...,3.5,3.5,3.5,4.0,3.5,3.0,4.0,3.5,3.0,EAD
3,1202170015,M IKHSAN PRATAMA P,4.0,3.5,3.5,3.5,3.5,3.5,3.5,4.0,...,2.5,3.5,3.0,3.5,3.0,3.5,3.5,3.5,2.5,TECHNO
4,1202170018,DINDA SONIA TIARA,2.0,2.5,3.0,3.5,3.5,2.5,2.5,3.0,...,3.5,2.5,3.5,3.0,2.5,3.0,3.5,2.0,3.5,ERP

In [123]:
dataTesting.to_csv('seleksi-peminatan-cnn.csv')