In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

from EA import NewData as ea

ea.head()

          NIM  Label
0  1202160002      1
1  1202160009      1
2  1202160010      0
3  1202160011      1
4  1202160013      1