In [3]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential, Model
from keras.layers import Input, Dense
from keras.utils import to_categorical 

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

df = pd.read_csv('datamahasiswa2015.csv')
df.head()

Using TensorFlow backend.

,No,NIM,OOP,RPB,RPL,PI,APSI,WEB,Statistik,Matdis,...,Desjar,KSI,Pilihan 1,Peminatan,MP1,MP2,MP3,Status,Tanggal Lulus,Keterangan
0,1,1202150001,2.0,3.5,0.0,3.5,3.0,3.0,2.0,2.0,...,3.5,2.0,TECHNO,TECHNO,3.5,3.0,3.0,GRADUATED,30/08/19,TEPAT WAKTU
1,2,1202150002,3.0,3.5,3.5,4.0,3.0,3.0,3.5,3.5,...,3.5,3.5,ERP,ERP,4.0,4.0,3.5,GRADUATED,10/07/19,TEPAT WAKTU
2,3,1202150003,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,OUT,OUT,0.0,0.0,0.0,RESIGN,OUT,TIDAK TEPAT WAKTU
3,4,1202150004,3.5,4.0,3.5,4.0,3.5,4.0,3.5,3.5,...,4.0,4.0,EAD,EAD,3.5,4.0,2.0,GRADUATED,05/07/19,TEPAT WAKTU
4,5,1202150005,2.0,2.5,2.0,1.0,3.5,1.0,2.0,1.0,...,2.0,1.0,OUT,OUT,0.0,0.0,0.0,STUDENT,OUT,TIDAK TEPAT WAKTU

In [4]:
new_class = [0] * len(df['Keterangan'])
for index, row in df.iterrows() :
    if row['Keterangan'] == "TEPAT WAKTU" :
        new_class[index] = 1
    else :
        new_class[index] = 0

In [5]:
df["ket_status"] = new_class
df.head()

,No,NIM,OOP,RPB,RPL,PI,APSI,WEB,Statistik,Matdis,...,KSI,Pilihan 1,Peminatan,MP1,MP2,MP3,Status,Tanggal Lulus,Keterangan,ket_status
0,1,1202150001,2.0,3.5,0.0,3.5,3.0,3.0,2.0,2.0,...,2.0,TECHNO,TECHNO,3.5,3.0,3.0,GRADUATED,30/08/19,TEPAT WAKTU,1
1,2,1202150002,3.0,3.5,3.5,4.0,3.0,3.0,3.5,3.5,...,3.5,ERP,ERP,4.0,4.0,3.5,GRADUATED,10/07/19,TEPAT WAKTU,1
2,3,1202150003,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,OUT,OUT,0.0,0.0,0.0,RESIGN,OUT,TIDAK TEPAT WAKTU,0
3,4,1202150004,3.5,4.0,3.5,4.0,3.5,4.0,3.5,3.5,...,4.0,EAD,EAD,3.5,4.0,2.0,GRADUATED,05/07/19,TEPAT WAKTU,1
4,5,1202150005,2.0,2.5,2.0,1.0,3.5,1.0,2.0,1.0,...,1.0,OUT,OUT,0.0,0.0,0.0,STUDENT,OUT,TIDAK TEPAT WAKTU,0

In [72]:
mainData = df.drop(['Status','Keterangan','Pilihan 1','Peminatan','Tanggal Lulus','No','NIM','MP1','MP2','MP3','RPL'],axis=1)
mainData.rename(columns={'KSI':'Manprosi'}, inplace=True)
mainData.head()

,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,Strukdat,SE,PO,SCM,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,ket_status
0,2.0,3.5,3.5,3.0,3.0,2.0,2.0,3.0,2.0,3.5,3.5,3.0,3.5,2.0,2.0,2.5,3.5,3.5,2.0,1
1,3.0,3.5,4.0,3.0,3.0,3.5,3.5,3.5,3.0,3.5,4.0,4.0,3.0,3.5,2.5,3.5,3.5,3.5,3.5,1
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
3,3.5,4.0,4.0,3.5,4.0,3.5,3.5,3.5,4.0,3.0,4.0,4.0,3.0,3.5,3.5,3.5,3.5,4.0,4.0,1
4,2.0,2.5,1.0,3.5,1.0,2.0,1.0,2.5,0.0,2.5,4.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,1.0,0

In [73]:
target = ["ket_status"]
predictors = list(set(list(mainData.columns))-set(target))
mainData[predictors] = mainData[predictors]/mainData[predictors].max()
mainData[predictors].head()

,SCM,Sisop,Strukdat,Desjar,Matdis,Basdat,APSI,RPB,WEB,Manjarkom,SE,EA,PO,OOP,MSDM,Alpro,Statistik,Manprosi,PI
0,0.75,0.625,0.50,0.875,0.500,0.500,0.750,0.875,0.75,0.500,0.875,0.875,0.875,0.500,0.875,0.750,0.500,0.500,0.875
1,1.00,0.875,0.75,0.875,0.875,0.875,0.750,0.875,0.75,0.625,0.875,0.750,1.000,0.750,0.875,0.875,0.875,0.875,1.000
2,0.00,0.000,0.50,0.250,0.000,0.000,0.250,0.000,0.00,0.000,0.500,0.000,0.000,0.250,0.000,0.000,0.000,0.000,0.000
3,1.00,0.875,1.00,1.000,0.875,0.875,0.875,1.000,1.00,0.875,0.750,0.750,1.000,0.875,0.875,0.875,0.875,1.000,1.000
4,0.50,0.500,0.00,0.500,0.250,0.250,0.875,0.625,0.25,0.500,0.625,0.500,1.000,0.500,0.250,0.625,0.500,0.250,0.250

In [74]:
X = mainData[target]
y = mainData[predictors]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=40)
print(X_train.shape)
print(y_train.shape)
print(X_test.head())
print(y_test.shape)

(259, 1)
(259, 19)
     ket_status
263           1
314           1
296           0
26            1
185           1
(111, 19)

In [75]:
# y_train = to_categorical(y_train)
# y_test = to_categorical(y_test)

X_trains = to_categorical(X_train)
X_tests = to_categorical(X_test)

print(X_trains.shape)

(259, 2)

In [76]:
model = Sequential()
model.add(Dense(500, activation='relu', input_dim=19))
model.add(Dense(300, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(2, activation='softmax'))

# Compile the model
model.compile(optimizer='adam', 
              loss='categorical_crossentropy', 
              metrics=['accuracy'])

In [77]:
model.fit(y_train, X_trains, epochs=200)

Epoch 1/200
259/259 [==============================] - 0s 370us/step - loss: 0.5119 - accuracy: 0.7529
Epoch 2/200
259/259 [==============================] - 0s 108us/step - loss: 0.4171 - accuracy: 0.8185
Epoch 3/200
259/259 [==============================] - 0s 108us/step - loss: 0.3447 - accuracy: 0.8533
Epoch 4/200
259/259 [==============================] - 0s 123us/step - loss: 0.3152 - accuracy: 0.8919
Epoch 5/200
259/259 [==============================] - 0s 108us/step - loss: 0.3225 - accuracy: 0.8726
Epoch 6/200
259/259 [==============================] - 0s 123us/step - loss: 0.2850 - accuracy: 0.8726
Epoch 7/200
259/259 [==============================] - 0s 123us/step - loss: 0.2544 - accuracy: 0.9073
Epoch 8/200
259/259 [==============================] - 0s 124us/step - loss: 0.2553 - accuracy: 0.9189
Epoch 9/200
259/259 [==============================] - 0s 108us/step - loss: 0.2845 - accuracy: 0.8726
Epoch 10/200
259/259 [==============================] - 0s 123us/step - loss: 0.2343 - accuracy: 0.9112
Epoch 11/200
259/259 [==============================] - 0s 108us/step - loss: 0.2262 - accuracy: 0.9035
Epoch 12/200
259/259 [==============================] - 0s 108us/step - loss: 0.2514 - accuracy: 0.9151
Epoch 13/200
259/259 [==============================] - 0s 123us/step - loss: 0.2321 - accuracy: 0.9151
Epoch 14/200
259/259 [==============================] - 0s 123us/step - loss: 0.2310 - accuracy: 0.9151
Epoch 15/200
259/259 [==============================] - 0s 108us/step - loss: 0.2130 - accuracy: 0.9228
Epoch 16/200
259/259 [==============================] - 0s 123us/step - loss: 0.1925 - accuracy: 0.9344
Epoch 17/200
259/259 [==============================] - 0s 123us/step - loss: 0.2431 - accuracy: 0.9151
Epoch 18/200
259/259 [==============================] - 0s 123us/step - loss: 0.2696 - accuracy: 0.9073
Epoch 19/200
259/259 [==============================] - 0s 108us/step - loss: 0.2460 - accuracy: 0.9189
Epoch 20/200
259/259 [==============================] - 0s 108us/step - loss: 0.2277 - accuracy: 0.9228
Epoch 21/200
259/259 [==============================] - 0s 139us/step - loss: 0.2234 - accuracy: 0.9228
Epoch 22/200
259/259 [==============================] - 0s 123us/step - loss: 0.2748 - accuracy: 0.8958
Epoch 23/200
259/259 [==============================] - 0s 124us/step - loss: 0.2885 - accuracy: 0.8842
Epoch 24/200
259/259 [==============================] - 0s 139us/step - loss: 0.2609 - accuracy: 0.8919
Epoch 25/200
259/259 [==============================] - 0s 139us/step - loss: 0.2503 - accuracy: 0.9035
Epoch 26/200
259/259 [==============================] - 0s 139us/step - loss: 0.2327 - accuracy: 0.9073
Epoch 27/200
259/259 [==============================] - 0s 154us/step - loss: 0.1971 - accuracy: 0.9305
Epoch 28/200
259/259 [==============================] - 0s 154us/step - loss: 0.1848 - accuracy: 0.9382
Epoch 29/200
259/259 [==============================] - 0s 123us/step - loss: 0.2128 - accuracy: 0.9151
Epoch 30/200
259/259 [==============================] - 0s 139us/step - loss: 0.2255 - accuracy: 0.9266
Epoch 31/200
259/259 [==============================] - 0s 139us/step - loss: 0.1986 - accuracy: 0.9344
Epoch 32/200
259/259 [==============================] - 0s 123us/step - loss: 0.1845 - accuracy: 0.9305
Epoch 33/200
259/259 [==============================] - 0s 139us/step - loss: 0.1853 - accuracy: 0.9344
Epoch 34/200
259/259 [==============================] - 0s 123us/step - loss: 0.1713 - accuracy: 0.9421
Epoch 35/200
259/259 [==============================] - 0s 108us/step - loss: 0.1674 - accuracy: 0.9421
Epoch 36/200
259/259 [==============================] - 0s 154us/step - loss: 0.1577 - accuracy: 0.9421
Epoch 37/200
259/259 [==============================] - 0s 154us/step - loss: 0.1745 - accuracy: 0.9459
Epoch 38/200
259/259 [==============================] - 0s 154us/step - loss: 0.1503 - accuracy: 0.9537
Epoch 39/200
259/259 [==============================] - 0s 154us/step - loss: 0.2499 - accuracy: 0.9073
Epoch 40/200
259/259 [==============================] - 0s 139us/step - loss: 0.2713 - accuracy: 0.8842
Epoch 41/200
259/259 [==============================] - 0s 123us/step - loss: 0.2113 - accuracy: 0.9305
Epoch 42/200
259/259 [==============================] - 0s 123us/step - loss: 0.1835 - accuracy: 0.9382
Epoch 43/200
259/259 [==============================] - 0s 154us/step - loss: 0.1804 - accuracy: 0.9421
Epoch 44/200
259/259 [==============================] - 0s 185us/step - loss: 0.2141 - accuracy: 0.9266
Epoch 45/200
259/259 [==============================] - 0s 154us/step - loss: 0.2753 - accuracy: 0.8919
Epoch 46/200
259/259 [==============================] - 0s 170us/step - loss: 0.3006 - accuracy: 0.8687
Epoch 47/200
259/259 [==============================] - 0s 170us/step - loss: 0.2442 - accuracy: 0.9266
Epoch 48/200
259/259 [==============================] - 0s 139us/step - loss: 0.1970 - accuracy: 0.9305
Epoch 49/200
259/259 [==============================] - 0s 170us/step - loss: 0.1911 - accuracy: 0.9228
Epoch 50/200
259/259 [==============================] - 0s 154us/step - loss: 0.1879 - accuracy: 0.9344
Epoch 51/200
259/259 [==============================] - 0s 154us/step - loss: 0.1772 - accuracy: 0.9305
Epoch 52/200
259/259 [==============================] - 0s 139us/step - loss: 0.1898 - accuracy: 0.9344
Epoch 53/200
259/259 [==============================] - 0s 170us/step - loss: 0.2702 - accuracy: 0.8919
Epoch 54/200
259/259 [==============================] - 0s 185us/step - loss: 0.2586 - accuracy: 0.8996
Epoch 55/200
259/259 [==============================] - 0s 170us/step - loss: 0.1985 - accuracy: 0.9266
Epoch 56/200
259/259 [==============================] - 0s 139us/step - loss: 0.1867 - accuracy: 0.9266
Epoch 57/200
259/259 [==============================] - 0s 170us/step - loss: 0.1676 - accuracy: 0.9421
Epoch 58/200
259/259 [==============================] - 0s 154us/step - loss: 0.1549 - accuracy: 0.9498
Epoch 59/200
259/259 [==============================] - 0s 154us/step - loss: 0.1607 - accuracy: 0.9498
Epoch 60/200
259/259 [==============================] - 0s 123us/step - loss: 0.1836 - accuracy: 0.9344
Epoch 61/200
259/259 [==============================] - 0s 185us/step - loss: 0.1555 - accuracy: 0.9459
Epoch 62/200
259/259 [==============================] - 0s 170us/step - loss: 0.1422 - accuracy: 0.9575
Epoch 63/200
259/259 [==============================] - 0s 139us/step - loss: 0.1314 - accuracy: 0.9653
Epoch 64/200
259/259 [==============================] - 0s 154us/step - loss: 0.1263 - accuracy: 0.9575
Epoch 65/200
259/259 [==============================] - 0s 139us/step - loss: 0.1226 - accuracy: 0.9653
Epoch 66/200
259/259 [==============================] - 0s 123us/step - loss: 0.1188 - accuracy: 0.9653
Epoch 67/200
259/259 [==============================] - 0s 139us/step - loss: 0.1096 - accuracy: 0.9768
Epoch 68/200
259/259 [==============================] - 0s 185us/step - loss: 0.1059 - accuracy: 0.9768
Epoch 69/200
259/259 [==============================] - 0s 123us/step - loss: 0.1289 - accuracy: 0.9653
Epoch 70/200
259/259 [==============================] - 0s 170us/step - loss: 0.1165 - accuracy: 0.9768
Epoch 71/200
259/259 [==============================] - 0s 154us/step - loss: 0.1480 - accuracy: 0.9498
Epoch 72/200
259/259 [==============================] - 0s 201us/step - loss: 0.1247 - accuracy: 0.9498
Epoch 73/200
259/259 [==============================] - 0s 201us/step - loss: 0.1601 - accuracy: 0.9498
Epoch 74/200
259/259 [==============================] - 0s 201us/step - loss: 0.1693 - accuracy: 0.9421
Epoch 75/200
259/259 [==============================] - 0s 170us/step - loss: 0.1611 - accuracy: 0.9421
Epoch 76/200
259/259 [==============================] - 0s 154us/step - loss: 0.1607 - accuracy: 0.9421
Epoch 77/200
259/259 [==============================] - 0s 185us/step - loss: 0.1552 - accuracy: 0.9344
Epoch 78/200
259/259 [==============================] - 0s 154us/step - loss: 0.1439 - accuracy: 0.9459
Epoch 79/200
259/259 [==============================] - 0s 172us/step - loss: 0.1301 - accuracy: 0.9537
Epoch 80/200
259/259 [==============================] - 0s 139us/step - loss: 0.1470 - accuracy: 0.9459
Epoch 81/200
259/259 [==============================] - 0s 123us/step - loss: 0.1094 - accuracy: 0.9653
Epoch 82/200
259/259 [==============================] - 0s 108us/step - loss: 0.1048 - accuracy: 0.9575
Epoch 83/200
259/259 [==============================] - 0s 139us/step - loss: 0.1094 - accuracy: 0.9653
Epoch 84/200
259/259 [==============================] - 0s 123us/step - loss: 0.1340 - accuracy: 0.9575
Epoch 85/200
259/259 [==============================] - 0s 154us/step - loss: 0.1716 - accuracy: 0.9305
Epoch 86/200
259/259 [==============================] - 0s 139us/step - loss: 0.1291 - accuracy: 0.9653
Epoch 87/200
259/259 [==============================] - 0s 123us/step - loss: 0.1147 - accuracy: 0.9653
Epoch 88/200
259/259 [==============================] - 0s 139us/step - loss: 0.1911 - accuracy: 0.9266
Epoch 89/200
259/259 [==============================] - 0s 154us/step - loss: 0.1634 - accuracy: 0.9344
Epoch 90/200
259/259 [==============================] - 0s 170us/step - loss: 0.2112 - accuracy: 0.9189
Epoch 91/200
259/259 [==============================] - 0s 139us/step - loss: 0.4833 - accuracy: 0.8649
Epoch 92/200
259/259 [==============================] - 0s 170us/step - loss: 0.2794 - accuracy: 0.8958
Epoch 93/200
259/259 [==============================] - 0s 139us/step - loss: 0.2880 - accuracy: 0.8687
Epoch 94/200
259/259 [==============================] - 0s 123us/step - loss: 0.2481 - accuracy: 0.9073
Epoch 95/200
259/259 [==============================] - 0s 123us/step - loss: 0.2584 - accuracy: 0.8880
Epoch 96/200
259/259 [==============================] - 0s 108us/step - loss: 0.2489 - accuracy: 0.8996
Epoch 97/200
259/259 [==============================] - 0s 108us/step - loss: 0.2001 - accuracy: 0.9228
Epoch 98/200
259/259 [==============================] - 0s 108us/step - loss: 0.1854 - accuracy: 0.9382
Epoch 99/200
259/259 [==============================] - 0s 123us/step - loss: 0.1785 - accuracy: 0.9421
Epoch 100/200
259/259 [==============================] - 0s 139us/step - loss: 0.1741 - accuracy: 0.9575
Epoch 101/200
259/259 [==============================] - 0s 154us/step - loss: 0.1867 - accuracy: 0.9266
Epoch 102/200
259/259 [==============================] - 0s 139us/step - loss: 0.1638 - accuracy: 0.9421
Epoch 103/200
259/259 [==============================] - 0s 154us/step - loss: 0.1567 - accuracy: 0.9382
Epoch 104/200
259/259 [==============================] - 0s 154us/step - loss: 0.1363 - accuracy: 0.9653
Epoch 105/200
259/259 [==============================] - 0s 170us/step - loss: 0.1382 - accuracy: 0.9575
Epoch 106/200
259/259 [==============================] - 0s 170us/step - loss: 0.1267 - accuracy: 0.9614
Epoch 107/200
259/259 [==============================] - 0s 139us/step - loss: 0.1155 - accuracy: 0.9653
Epoch 108/200
259/259 [==============================] - 0s 123us/step - loss: 0.1044 - accuracy: 0.9691
Epoch 109/200
259/259 [==============================] - 0s 139us/step - loss: 0.1018 - accuracy: 0.9768
Epoch 110/200
259/259 [==============================] - 0s 123us/step - loss: 0.1105 - accuracy: 0.9653
Epoch 111/200
259/259 [==============================] - 0s 170us/step - loss: 0.0962 - accuracy: 0.9768
Epoch 112/200
259/259 [==============================] - 0s 139us/step - loss: 0.0997 - accuracy: 0.9730
Epoch 113/200
259/259 [==============================] - 0s 123us/step - loss: 0.0940 - accuracy: 0.9730
Epoch 114/200
259/259 [==============================] - 0s 108us/step - loss: 0.1219 - accuracy: 0.9614
Epoch 115/200
259/259 [==============================] - 0s 139us/step - loss: 0.1239 - accuracy: 0.9537
Epoch 116/200
259/259 [==============================] - 0s 108us/step - loss: 0.1915 - accuracy: 0.9382
Epoch 117/200
259/259 [==============================] - 0s 108us/step - loss: 0.2684 - accuracy: 0.8958
Epoch 118/200
259/259 [==============================] - 0s 154us/step - loss: 0.2553 - accuracy: 0.8996
Epoch 119/200
259/259 [==============================] - 0s 154us/step - loss: 0.2269 - accuracy: 0.9073
Epoch 120/200
259/259 [==============================] - 0s 154us/step - loss: 0.1947 - accuracy: 0.9266
Epoch 121/200
259/259 [==============================] - 0s 139us/step - loss: 0.1822 - accuracy: 0.9305
Epoch 122/200
259/259 [==============================] - 0s 139us/step - loss: 0.1778 - accuracy: 0.9228
Epoch 123/200
259/259 [==============================] - 0s 123us/step - loss: 0.1868 - accuracy: 0.9189
Epoch 124/200
259/259 [==============================] - 0s 123us/step - loss: 0.1603 - accuracy: 0.9382
Epoch 125/200
259/259 [==============================] - 0s 123us/step - loss: 0.2330 - accuracy: 0.9073
Epoch 126/200
259/259 [==============================] - 0s 123us/step - loss: 0.1718 - accuracy: 0.9498
Epoch 127/200
259/259 [==============================] - 0s 123us/step - loss: 0.1382 - accuracy: 0.9498
Epoch 128/200
259/259 [==============================] - 0s 123us/step - loss: 0.1338 - accuracy: 0.9537
Epoch 129/200
259/259 [==============================] - 0s 123us/step - loss: 0.1630 - accuracy: 0.9305
Epoch 130/200
259/259 [==============================] - 0s 139us/step - loss: 0.1211 - accuracy: 0.9498
Epoch 131/200
259/259 [==============================] - 0s 139us/step - loss: 0.1104 - accuracy: 0.9614
Epoch 132/200
259/259 [==============================] - 0s 139us/step - loss: 0.1253 - accuracy: 0.9537
Epoch 133/200
259/259 [==============================] - 0s 170us/step - loss: 0.1192 - accuracy: 0.9537
Epoch 134/200
259/259 [==============================] - 0s 154us/step - loss: 0.1392 - accuracy: 0.9498
Epoch 135/200
259/259 [==============================] - 0s 139us/step - loss: 0.1262 - accuracy: 0.9614
Epoch 136/200
259/259 [==============================] - 0s 139us/step - loss: 0.1094 - accuracy: 0.9691
Epoch 137/200
259/259 [==============================] - 0s 108us/step - loss: 0.0986 - accuracy: 0.9730
Epoch 138/200
259/259 [==============================] - 0s 154us/step - loss: 0.0871 - accuracy: 0.9730
Epoch 139/200
259/259 [==============================] - 0s 170us/step - loss: 0.0815 - accuracy: 0.9846
Epoch 140/200
259/259 [==============================] - 0s 139us/step - loss: 0.0800 - accuracy: 0.9807
Epoch 141/200
259/259 [==============================] - 0s 123us/step - loss: 0.1134 - accuracy: 0.9575
Epoch 142/200
259/259 [==============================] - 0s 139us/step - loss: 0.3151 - accuracy: 0.9035
Epoch 143/200
259/259 [==============================] - 0s 123us/step - loss: 0.2932 - accuracy: 0.8880
Epoch 144/200
259/259 [==============================] - 0s 123us/step - loss: 0.1962 - accuracy: 0.9305
Epoch 145/200
259/259 [==============================] - 0s 123us/step - loss: 0.1901 - accuracy: 0.9305
Epoch 146/200
259/259 [==============================] - 0s 123us/step - loss: 0.1787 - accuracy: 0.9382
Epoch 147/200
259/259 [==============================] - 0s 123us/step - loss: 0.1578 - accuracy: 0.9459
Epoch 148/200
259/259 [==============================] - 0s 123us/step - loss: 0.1389 - accuracy: 0.9459
Epoch 149/200
259/259 [==============================] - 0s 93us/step - loss: 0.1338 - accuracy: 0.9575
Epoch 150/200
259/259 [==============================] - 0s 108us/step - loss: 0.1691 - accuracy: 0.9421
Epoch 151/200
259/259 [==============================] - 0s 108us/step - loss: 0.1375 - accuracy: 0.9575
Epoch 152/200
259/259 [==============================] - 0s 93us/step - loss: 0.1619 - accuracy: 0.9344
Epoch 153/200
259/259 [==============================] - 0s 123us/step - loss: 0.1069 - accuracy: 0.9691
Epoch 154/200
259/259 [==============================] - 0s 154us/step - loss: 0.0948 - accuracy: 0.9768
Epoch 155/200
259/259 [==============================] - 0s 139us/step - loss: 0.0913 - accuracy: 0.9807
Epoch 156/200
259/259 [==============================] - 0s 139us/step - loss: 0.0815 - accuracy: 0.9846
Epoch 157/200
259/259 [==============================] - 0s 123us/step - loss: 0.0749 - accuracy: 0.9807
Epoch 158/200
259/259 [==============================] - 0s 123us/step - loss: 0.0714 - accuracy: 0.9807
Epoch 159/200
259/259 [==============================] - 0s 108us/step - loss: 0.1266 - accuracy: 0.9498
Epoch 160/200
259/259 [==============================] - 0s 123us/step - loss: 0.1594 - accuracy: 0.9575
Epoch 161/200
259/259 [==============================] - 0s 154us/step - loss: 0.1200 - accuracy: 0.9614
Epoch 162/200
259/259 [==============================] - 0s 108us/step - loss: 0.1139 - accuracy: 0.9575
Epoch 163/200
259/259 [==============================] - 0s 123us/step - loss: 0.1189 - accuracy: 0.9653
Epoch 164/200
259/259 [==============================] - 0s 123us/step - loss: 0.0803 - accuracy: 0.9768
Epoch 165/200
259/259 [==============================] - 0s 123us/step - loss: 0.0782 - accuracy: 0.9807
Epoch 166/200
259/259 [==============================] - 0s 123us/step - loss: 0.0736 - accuracy: 0.9846
Epoch 167/200
259/259 [==============================] - 0s 123us/step - loss: 0.0620 - accuracy: 0.9846
Epoch 168/200
259/259 [==============================] - 0s 139us/step - loss: 0.0664 - accuracy: 0.9807
Epoch 169/200
259/259 [==============================] - 0s 139us/step - loss: 0.0728 - accuracy: 0.9807
Epoch 170/200
259/259 [==============================] - 0s 139us/step - loss: 0.0671 - accuracy: 0.9807
Epoch 171/200
259/259 [==============================] - 0s 170us/step - loss: 0.0569 - accuracy: 0.9846
Epoch 172/200
259/259 [==============================] - 0s 170us/step - loss: 0.0739 - accuracy: 0.9768
Epoch 173/200
259/259 [==============================] - 0s 154us/step - loss: 0.0626 - accuracy: 0.9768
Epoch 174/200
259/259 [==============================] - 0s 170us/step - loss: 0.0542 - accuracy: 0.9884
Epoch 175/200
259/259 [==============================] - 0s 139us/step - loss: 0.1083 - accuracy: 0.9730
Epoch 176/200
259/259 [==============================] - 0s 108us/step - loss: 0.1963 - accuracy: 0.9189
Epoch 177/200
259/259 [==============================] - 0s 123us/step - loss: 0.1516 - accuracy: 0.9382
Epoch 178/200
259/259 [==============================] - 0s 123us/step - loss: 0.1732 - accuracy: 0.9344
Epoch 179/200
259/259 [==============================] - 0s 108us/step - loss: 0.1407 - accuracy: 0.9459
Epoch 180/200
259/259 [==============================] - 0s 108us/step - loss: 0.1522 - accuracy: 0.9382
Epoch 181/200
259/259 [==============================] - 0s 123us/step - loss: 0.1241 - accuracy: 0.9653
Epoch 182/200
259/259 [==============================] - 0s 108us/step - loss: 0.1159 - accuracy: 0.9575
Epoch 183/200
259/259 [==============================] - 0s 123us/step - loss: 0.1353 - accuracy: 0.9537
Epoch 184/200
259/259 [==============================] - 0s 123us/step - loss: 0.0901 - accuracy: 0.9691
Epoch 185/200
259/259 [==============================] - 0s 123us/step - loss: 0.0813 - accuracy: 0.9691
Epoch 186/200
259/259 [==============================] - 0s 108us/step - loss: 0.2369 - accuracy: 0.9073
Epoch 187/200
259/259 [==============================] - 0s 123us/step - loss: 0.2111 - accuracy: 0.9228
Epoch 188/200
259/259 [==============================] - 0s 108us/step - loss: 0.2112 - accuracy: 0.9189
Epoch 189/200
259/259 [==============================] - 0s 108us/step - loss: 0.1203 - accuracy: 0.9691
Epoch 190/200
259/259 [==============================] - 0s 123us/step - loss: 0.1057 - accuracy: 0.9653
Epoch 191/200
259/259 [==============================] - 0s 123us/step - loss: 0.1415 - accuracy: 0.9421
Epoch 192/200

In [78]:
pred_train= model.predict(y_train)
scores = model.evaluate(y_train, X_trains, verbose=0)
print('Accuracy on training data: {}% \n Error on training data: {}'.format(scores[1], 1 - scores[1]))   
 
pred_test= model.predict(y_test)
scores2 = model.evaluate(y_test, X_tests, verbose=0)
print('Accuracy on test data: {}% \n Error on test data: {}'.format(scores2[1], 1 - scores2[1]))

Accuracy on training data: 0.9845559597015381%
 Error on training data: 0.015444040298461914
Accuracy on test data: 0.837837815284729%
 Error on test data: 0.162162184715271

In [79]:
hasil = pd.DataFrame()
hasil["NIM"] = df["NIM"]
hasil["ket_status"] = df["ket_status"]
temp = model.predict_classes(y_test)

# hasil = model.predict_classes(y_test)

In [82]:
pre = [0] * len(hasil)
for index, row in hasil.iterrows():
    if (index in y_test.index) :
        pre[index] = 1
    else :
        pre[index] = "train data"
        
hasil["forecast"] = pre
hasil.head()

          NIM  ket_status    forecast
0  1202150001           1           1
1  1202150002           1  train data
2  1202150003           0  train data
3  1202150004           1           1
4  1202150005           0           1

In [83]:
dataTesting = pd.read_excel('Nilai Master Pipe.xlsx')
dataTesting.head()

,nim,nama,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,...,SE,PO,SCM,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi
0,1202170006,SHINTA EKA RISA SINURAYA,4.0,3.5,2.0,2.0,3.5,4.0,2.5,3.5,...,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.5,3.5,2.5
1,1202170010,COKORDA AGUNG JAYA LAKSMANA PRAKASA,4.0,3.5,4.0,2.5,4.0,3.0,4.0,3.0,...,4.0,3.5,3.0,3.5,3.5,3.5,3.0,3.5,3.5,3.0
2,1202170011,RAFIF FAKHRI RAMADHAN,4.0,3.0,3.5,2.0,3.5,3.5,3.5,3.5,...,4.0,3.5,3.5,3.5,4.0,3.5,3.0,4.0,3.5,3.0
3,1202170015,M IKHSAN PRATAMA P,4.0,3.5,3.5,3.5,3.5,3.5,3.5,4.0,...,3.5,2.5,3.5,3.0,3.5,3.0,3.5,3.5,3.5,2.5
4,1202170018,DINDA SONIA TIARA,2.0,2.5,3.0,3.5,3.5,2.5,2.5,3.0,...,3.5,3.5,2.5,3.5,3.0,2.5,3.0,3.5,2.0,3.5

In [95]:
dataTestingFilter = dataTesting[predictors]
dataTestingHasil = model.predict_classes(dataTestingFilter)

dataTesting["Lulus Tepat Waktu"] = dataTestingHasil
dataTesting.rename(columns={'nim':'NIM'}, inplace=True)
dataTesting.drop(columns="nama",axis=1).head()

,NIM,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,Strukdat,...,PO,SCM,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Lulus Tepat Waktu
0,1202170006,4.0,3.5,2.0,2.0,3.5,4.0,2.5,3.5,2.5,...,3.0,3.0,3.0,3.0,3.0,3.0,3.5,3.5,2.5,1
1,1202170010,4.0,3.5,4.0,2.5,4.0,3.0,4.0,3.0,4.0,...,3.5,3.0,3.5,3.5,3.5,3.0,3.5,3.5,3.0,1
2,1202170011,4.0,3.0,3.5,2.0,3.5,3.5,3.5,3.5,4.0,...,3.5,3.5,3.5,4.0,3.5,3.0,4.0,3.5,3.0,1
3,1202170015,4.0,3.5,3.5,3.5,3.5,3.5,3.5,4.0,4.0,...,2.5,3.5,3.0,3.5,3.0,3.5,3.5,3.5,2.5,1
4,1202170018,2.0,2.5,3.0,3.5,3.5,2.5,2.5,3.0,3.5,...,3.5,2.5,3.5,3.0,2.5,3.0,3.5,2.0,3.5,1

In [97]:
pred_test= model.predict(dataTestingFilter)
print('Accuracy on test data: {}% \n Error on test data: {}'.format(scores2[1], 1 - scores2[1]))

Accuracy on test data: 0.837837815284729%
 Error on test data: 0.162162184715271